<!DOCTYPE html>
<html>
<head>
    <title>Account</title>
    {% load static %}
    <script src="{% static "market/d3.js" %}"></script>
    {% load custom_tags %}
</head>
<body>
    {% include "market/header.html" with scheduled_games=scheduled_games list_of_names=list_of_names %}
    <div id="content">
    <!-- the four tabs to work on:
    <th>Account</th>
    <th>Banking</th>
    <th>History</th>
    <th>Settings</th> -->
        <div>
            <table>
                <thead>
                    <tr>
                        <th>Player</th>
                        <th>Shares</th>
                        <th>Bought Price</th>
                        <th>Current Price</th>
                        <th>Return</th>
                        <th>Total Equity</th>
                    </tr>
                </thead>
                <tbody>
                    {% for stock in owned_shares %}
                    <tr>
                        <td>{{ stock.player.name|title }}</td>
                        <td>{{ stock.number_of_shares }}</td>
                        <td>{{ stock.bought_price }}</td>
                        <td>{{ stock.player.current_price }}</td>
                        {% if stock.bought_price|subtract:stock.player.current_price >= 0 %}
                        <td class="positive">{{ stock.bought_price|subtract:stock.player.current_price  }}</td>
                        {% else %}
                        <!-- note that the order is backwards, index 1 is before index 0 as opposed to above where it's reverse -->
                        <td class="negative">-{{ stock.bought_price|subtract:stock.player.current_price  }}</td>
                        {% endif %}
                        <td>{{ stock.bought_price|multiply:stock.number_of_shares }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div>
            
        </div>
    </div>
</body>
<style type="text/css">
    body {
        background-color: #cccccc;
        color: #404040;
    }

    #content {
        float: left;
        width: 100%;
        margin-top: 10px;
        /*background-color: #cccccc;*/
    }

    #rules-sidebar {
        /*float: left;*/
        width: 19%;
        /*margin-top: */
        margin-left: 3%;
        margin-right: 3%;
        position: fixed;
        top: 65px;
        /*left: 0;*/
        border-radius: 5px;
        background-color: #404040;
    }

    #rules-sidebar a {
        color: #cccccc;
        /*text-decoration: none;*/
    }

    #rules-sidebar a:hover {
        color: #cccccc;
        /*text-decoration: none;*/
    }

    #rules-sidebar-content {
        float: left;
        width: 80%;
        margin-top: 10px;
        margin-left: 10%;
        margin-right: 10%;
    }

    #rules-body {
        float: left;
        margin-left: 25%;
        width: 75%;
    }
</style>
<script type="text/javascript">
    window.onload = function() {
        setPieChart();
    }

    function setPieChart() {
        owned_shares_json = {{ owned_shares_json|safe }};
        console.log(owned_shares_json);
        var dataset = {
  apples: [53245, 28479, 19697, 24037, 40245],
};

var width = 460,
    height = 300,
    radius = Math.min(width, height) / 2;

var color = d3.scaleOrdinal()
  .domain(owned_shares_json) //dataset.apples
  .range(["#16A916", "#16A916", "#16A916", "#16A916", "#16A916"]);//["#98abc5", "#8a89a6", "#7b6888", "#6b486b", "#a05d56"]);

var pie = d3.pie()
    .value(function(d) {return d.number_of_shares; })
    .sort(null)
    .padAngle(.02);             
             
var arc = d3.arc()
    .innerRadius(radius - 35)
    .outerRadius(radius);

// var percentageFormat = d3.format("%");

var tots = d3.sum(owned_shares_json, function(d) { 
                return d.number_of_shares; 
            });

            owned_shares_json.forEach(function(d) {
                // or (d.endAngle - d.startAngle)/(2*Math.PI)*100
                d.percentage = d.number_of_shares  / tots;
            });


var svg = d3.select("body").append("svg")
    .attr("width", width)
    .attr("height", height)
    .append("g")
    .attr("transform", "translate(" + width / 2 + "," + height / 2 + ")")
  //   .attr("stroke", "black")
  // .style("stroke-width", "1px")
    



      var g = svg.selectAll(".arc")
    .data(pie(owned_shares_json))
    .enter().append("g")
    .attr("class", "arc")
    .on('mouseover', function() {
      var current = this;  
      var others = svg.selectAll(".arc").filter(function(el) {
        return this != current
      });

      others.selectAll("path").style('opacity', 0.3);
      // svg.select("text").text("");
      // console.log(d3.select(this.parentNode).select("text"));
      d3.selectAll(".inner-label").remove()
    console.log(d3.select(this));
      d3.select(this.parentNode).append("text").attr("dy", "0em").text(function() {
        console.log(d3.select(current).data()[0].data);
        return titleCase(d3.select(current).data()[0].data.name);
      }).attr("class", "inner-label").attr("text-anchor", "middle")
      d3.select(this.parentNode).append("text").attr("dy", "1em").text(function() {
        console.log(d3.select(current).data()[0].data);
        return d3.select(current).data()[0].data.number_of_shares + " shares";
      }).attr("class", "inner-label").attr("text-anchor", "middle")
      d3.select(this.parentNode).append("text").attr("dy", "2em").text(function() {
        console.log(d3.select(current).data()[0].data);
        return (parseFloat(parseFloat(d3.select(current).data()[0].data.percentage).toFixed(4)) * 100) + "%"; //percentageFormat(
      }).attr("class", "inner-label").attr("text-anchor", "middle")
  
  // .text(function(d) {
  //     console.log("d is", d);
  //     return d.data;//percentageFormat(d.data.percentage);
  //   })
    })
    .on('mouseout', function() {
      var current = this;
      d3.select(this)
        .style('opacity', 1);
      var others = svg.selectAll(".arc").filter(function(el) {
        return this != current
      });
      others.selectAll("path").style('opacity', 1);
      d3.selectAll(".inner-label").remove()
      d3.select(this.parentNode).append("text").text("Stocks")
      .attr("text-anchor", "middle")
  .attr("class", "inner-label")

    })

  g.append("path")
    .attr("d", arc)
    .style("fill", function(d, i) {
      return color(i);
    });


        svg.append('text')
  // .attr('stroke', 'red')
  // .style("font-size", 19)
  .text("Stocks")
  .attr("text-anchor", "middle")
  .attr("class", "inner-label")
    }


    function titleCase(string) {
      var sentence = string.toLowerCase().split(" ");
      for(var i = 0; i< sentence.length; i++){
         sentence[i] = sentence[i][0].toUpperCase() + sentence[i].slice(1);
      }
   sentence = sentence.join(" ");
   // document.write(sentence.join(" "));
   return sentence;
   }
</script>
</html>