<!DOCTYPE html>
<html>
<head>
    <title>Player Stats</title>
    <meta content="text/html">
    {% load static %}
    <link rel="icon" href="{% static "market/images/other/venture_sports_primary_logo.png" %}">
    <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css"> -->
    {% load custom_tags %}

</head>
<body>
    {% include "market/header.html" with scheduled_games=scheduled_games list_of_names=list_of_names %}
    <!-- TO ADD: a sort feature for each column, also a bunch of sorting dropdowns that filter it (only nba players, only falcons players, only guards, etc. etc. -->
    <div id="main-content-container">
        <div id="selectors-container">
            <!-- <div id="sport-selector-container" class="selector-container">
                <select id="sport-selector-group" class="selector">
                    <option value="" selected></option>
                    <option value="nba" data-category="sport">NBA</option>
                    <option value="nfl" data-category="sport">NFL</option>
                    <option value="mlb" data-category="sport" style="border-bottom-left-radius:5px;border-bottom-right-radius:5px;">MLB</option>
                </select>
            </div> -->

            <!-- <div id="position-selector-container" class="selector-container">
                <select id="position-selector-group" class="selector">
                    <option value="" selected></option>
                    <option value="g" data-category="position" data-sport="nba">Guards</option>
                    <option value="f" data-category="position" data-sport="nba">Forwards</option>
                    <option value="c" data-category="position" data-sport="nba">Centers</option>
                    <option value="qb" data-category="position" data-sport="nfl">Quarterbacks</option>
                    <option value="rb" data-category="position" data-sport="nfl">Running Backs</option>
                    <option value="wr" data-category="position" data-sport="nfl">Wide Receivers</option>
                    <option value="p" data-category="position" data-sport="mlb">Pitchers</option>
                    <option value="h" data-category="position" data-sport="mlb">Hitters</option>
                </select>
            </div> -->
        </div>
        <div id="statistics-table-container">
            <table id="statistics-table">
                <thead>
                    <tr id="header-row">
                        <!-- <th id="1-asc" class="1">Id</th> -->
                        <!-- <th id="1-desc" class="no-mobile">League</th> -->
                        <th id="1-desc">Team</th>
                        <th id="2-desc" class="4">Name</th>
                        <!-- if you add opponent, django queries for it every time in the loop -->
                        <!-- <th id="4-desc" class="no-mobile">Opponent</th><!-- should i also do previous opponent? -->
                        {% if sport|lower == "nba" %}
                            <th id="3-desc" class="no-mobile">Points</th>
                            <th id="4-desc" class="no-mobile">Rebounds</th>
                            <th id="5-desc" class="no-mobile">Assists</th>
                        {% elif sport|lower == "mlb" %}
                            {% if position|lower == "p" %}
                            <th id="5-desc" class="no-mobile">ERA</th>
                            <th id="6-desc" class="no-mobile">K/9</th>
                            <th id="7-desc" class="no-mobile">WHIP</th>
                            {% else %}
                            <th id="5-desc" class="no-mobile">Average</th>
                            <th id="6-desc" class="no-mobile">RBIs</th>
                            <th id="7-desc" class="no-mobile">Homeruns</th>
                            {% endif %}
                        {% else %}
                            {% if position|lower == "qb" %}
                            <th id="5-desc" class="no-mobile">Yards</th>
                            <th id="6-desc" class="no-mobile">Touchdowns</th>
                            <th id="7-desc" class="no-mobile">Interceptions</th>
                            {% elif position|lower == "rb" %}
                            <th id="5-desc" class="no-mobile">Yards</th>
                            <th id="6-desc" class="no-mobile">Touchdowns</th>
                            <th id="7-desc" class="no-mobile">Fumbles</th>
                            {% elif position|lower == "wr" or position|lower == "te" %}
                            <th id="5-desc" class="no-mobile">Yards</th>
                            <th id="6-desc" class="no-mobile">Receptions</th>
                            <th id="7-desc" class="no-mobile">Touchdowns</th>
                            {% else %}
                            <th id="5-desc" class="no-mobile">Tackles</th>
                            <th id="6-desc" class="no-mobile">Interceptions</th>
                            <th id="7-desc" class="no-mobile">Sacks</th>
                            {% endif %}
                        {% endif %}
                        <th id="6-desc">Price</th>
                        <th id="7-desc">Change</th>
                    </tr>
                </thead>
                <tbody>
                    {% for player in players %}
                    {# with player_current_stats_dict=player_current_stats_dict|keyvalue:player.id current_player_id=player.id #}
                    {# with player_current_stats=player.player_current_stats.all #}
                    <tr class="" data-href="{% url 'market:player_detail' player.id %}" data-sport="{{player.sport|lower}}" data-position="{{player.position|lower}}">
                        <!-- <td>{{ forloop.counter }}</td> -->
                        <!-- <td class="no-mobile" data-value="{{player.sport|lower}}">{{ player.sport|upper }}</td> -->
                        <td data-value="{{player.team.abbreviation|lower}}">{{ player.team.abbreviation|upper }}</td>
                        <td data-value="{{player.name|lower}}"><a href="{% url 'market:player_detail' player.id %}">{{ player.name|title }}</a></td>
                        
                        {% for stat in player.playercurrentstatistics_set.all %}
                        {% if stat.stat_name == "nba_total_points" %}
                        <td class="no-mobile" data-value="{{stat.stat_value}}">{{stat.stat_value}}</td>
                        {% endif %}
                        {% if stat.stat_name == "nba_total_rebounds" %}
                        <td class="no-mobile" data-value="{{stat.stat_value}}">{{stat.stat_value}}</td>
                        {% endif %}
                        {% if stat.stat_name == "nba_assists" %}
                        <td class="no-mobile" data-value="{{stat.stat_value}}">{{stat.stat_value}}</td>
                        {% endif %}
                        {% endfor %}
                        
                        {% if player.delta >= 0 %}
                        <td class="positive" data-value="{{player.current_performance_price}}">${{ player.current_performance_price|todollarsandcents }}</td><!-- current_price-->
                        {% else %}
                        <td class="negative" data-value="{{player.current_performance_price}}">${{ player.current_performance_price|todollarsandcents }}</td><!-- current_price-->
                        {% endif %}
                        {% if player.delta >= 0 %}
                        <td class="positive" data-value="{{player.delta}}"><i class="fa fa-angle-up"></i>${{ player.delta|todollarsandcents }}</td>
                        {% else %}
                        <td class="negative" data-value="{{player.delta}}"><i class="fa fa-angle-down"></i>-${{ player.delta|absolute_value|todollarsandcents }}</td>
                        {% endif %}
                    </tr>
                    {# endwith #}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>
<style type="text/css">
    /*body {
        -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    }*/
    body {
        background-color: {{ primary_design_color }};
    }
    .no-mobile {
        display: none;
    }

    @media only screen and (min-width:1000px) /* make sure this is good, because it's a balagan by the chrome debugger */
    {
        .no-mobile {
            display: table-cell;
        }
    }

    .positive {
        color: {{ positive_color }}
    }

    .negative {
        color: {{ negative_color }}
    }

    #main-content-container {
        float: left;
        width: 100%;
        /*margin-left: 5%;*/
        /*margin-right: 5%;*/
    }

    @media only screen and (min-width:1000px) /* make sure this is good, because it's a balagan by the chrome debugger */
    {
        #main-content-container {
            float: left;
            width: 80%;
            margin-left: 10%;
            margin-right: 10%;
        }
    }

    .selector {
        float: left;
        width: 150px;
        height: 25px;
        border-radius: 5px;
        background-color: {{ secondary_design_color }};
        color: {{ primary_design_color }};
    }

    .selector option {
        background-color: {{ primary_design_color }};
        color: {{ secondary_design_color }};
    }

    #statistics-table-container {
        float: left;
        width: 100%;
    }

    #statistics-table {
        float: left;
        width: 100%;
    }

    table {
        background-color: {{ secondary_design_color }};
        color: {{ primary_design_color }};
        border-radius: 5px;
        border: 1px solid {{ primary_design_color }};
        overflow: hidden;
        text-align: center;
        border-collapse: collapse;
        width: 100%;
        font-size: 3em;
        box-shadow: 0px 0px 10px black; /* range from 0 - 1 */ /* 0px 8px 16px 0px rgba(0,0,0,1); */

    }

    @media only screen and (min-width:1000px) /* make sure this is good, because it's a balagan by the chrome debugger */
    {
        table {
            font-size: 1em;
        }
    }

    tr {
        /*cursor: pointer;*/
    }

    th {
        cursor: pointer;
        border: 1px solid {{ primary_design_color }};
        /*border-right: 1px solid {{ primary_design_color }};*/
        border-collapse: collapse;
    }

    td {
        border: 1px solid {{ primary_design_color }};
        /*border-right: 1px solid {{ primary_design_color }};*/
        border-collapse: collapse;
    }

    td:nth-child(1), th:nth-child(1) {
        width: 5%;
    }

    @media only screen and (min-width:1000px) /* make sure this is good, because it's a balagan by the chrome debugger */
    {
        td:nth-child(1), th:nth-child(1) {
            width: 5%;
        }
    }

    td:nth-child(2) {
        width: 10%;
    }

    @media only screen and (min-width:1000px) /* make sure this is good, because it's a balagan by the chrome debugger */
    {
        td:nth-child(2) {
            width: 10%;
        }
    }

    td:nth-child(3) {
        width: 5%;
    }

    @media only screen and (min-width:1000px) /* make sure this is good, because it's a balagan by the chrome debugger */
    {
        td:nth-child(3) {
            width: 5%;
        }
    }

    td:nth-child(4) {
        width: 5%;
    }

    @media only screen and (min-width:1000px) /* make sure this is good, because it's a balagan by the chrome debugger */
    {
        td:nth-child(4) {
            width: 5%;
        }
    }

    td:nth-child(5) {
        width: 0%;
    }

    @media only screen and (min-width:1000px) /* make sure this is good, because it's a balagan by the chrome debugger */
    {
        td:nth-child(5) {
            width: 5%;
        }
    }

    td:nth-child(6) {
        width: 0%;
    }

    @media only screen and (min-width:1000px) /* make sure this is good, because it's a balagan by the chrome debugger */
    {
        td:nth-child(6) {
            width: 5%;
        }
    }

    td:nth-child(7) {
        width: 0%;
    }

    @media only screen and (min-width:1000px) /* make sure this is good, because it's a balagan by the chrome debugger */
    {
        td:nth-child(7) {
            width: 5%;
        }
    }

    td:nth-child(8) {
        width: 0%;
    }

    @media only screen and (min-width:1000px) /* make sure this is good, because it's a balagan by the chrome debugger */
    {
        td:nth-child(8) {
            width: 5%;
        }
    }

    td:nth-child(9) {
        width: 10%;
    }

    @media only screen and (min-width:1000px) /* make sure this is good, because it's a balagan by the chrome debugger */
    {
        td:nth-child(9) {
            width: 5%;
        }
    }

    td:nth-child(10) {
        width: 5%;
    }

    @media only screen and (min-width:1000px) /* make sure this is good, because it's a balagan by the chrome debugger */
    {
        td:nth-child(10) {
            width: 5%;
        }
    }

    td a {
        display: block;
        text-decoration: none;
        color: {{ primary_design_color }};

    }

    td a:hover {
        text-decoration: none;
        color: {{ primary_design_color }};
        
    }



</style>
<script type="text/javascript">
    window.onload = function() {
        var playersArray = {{ players_json|safe }};
        console.log(playersArray);
        $('th').click(function (event) {
            // console.log(event.target.id);
            sortTable(event.target.id);
        });
        var sportSelector = document.getElementById("sport-selector-group");
        var positionSelector = document.getElementById("position-selector-group");
        // sportSelector.addEventListener("change", function(event) {
        //     if(event.target.value == "") {
        //         return;
        //     }
        //     updateChildSelectors();
        //     updateTable("sport", event.target);
        // });
        positionSelector.addEventListener("change", function(event) {
            // if(event.target.value == "") {
            //     return;
            // }
            // console.log(event.target);
            // console.log(event.target.value);
            // updateChildSelectors();
            // console.log(this.target.dataset.category);
            updateTable("position", event.target);
        });
        // $("tr").click(function() {
        //     window.location = $(this).data("href");
        // });
    }

    function compareValues(a, b, order) {
        // return -1/0/1 based on what you "know" a and b
        // are here. Numbers, text, some custom case-insensitive
        // and natural number ordering, etc. That's up to you.
        // A typical "do whatever JS would do" is:
        var letter = /^[A-Za-z.-\s]+$/; // 0-9
        // completely the wrong algorithm, it does the opposite for numbers as it does for letters...
        if(order == "asc") {
            if (letter.test(a)) {
                console.log("asc letter");
                return (a<b) ? -1 : (a>b) ? 1 : 0;
            } else {
                console.log("asc float");
                // console.log(a);
                // console.log(parseFloat(a));

                return (parseFloat(a)>parseFloat(b)) ? -1 : (parseFloat(a)<parseFloat(b)) ? 1 : 0;
            }
        } else {
            if (letter.test(a)) {
                console.log("desc letter");

                return (a>b) ? -1 : (a<b) ? 1 : 0;
            } else {
                console.log("desc float");

                return (parseFloat(a)<parseFloat(b)) ? -1 : (parseFloat(a)>parseFloat(b)) ? 1 : 0;
            }
        }
      
    }

    function sortTable(colId) {
        var colnum = colId.split("-")[0];
        // colnum = parseInt(colnum) - 1;
        console.log(colnum);
        var order = colId.split("-")[1];
        if(order == "asc") {
            var toBeOrder = "desc";
        } else {
            var toBeOrder = "asc";
        }

        var table = document.getElementById("statistics-table");
        var rows = Array.from(table.querySelectorAll("tr"));
        var ths = table.querySelectorAll("th");
        for (var i = 0; i < ths.length; i++) {
            var oldId = ths[i].id;
            console.log(oldId);
            // console.log(colId);
            if(oldId == colId) {
                ths[i].id = colnum + "-" + toBeOrder;
                continue;
            }
            var idNumber = oldId.split("-")[0];
            var oldOrder = oldId.split("-")[1];
            var newId = idNumber + "-desc";
            ths[i].id = newId;
        };
        // but ignore the heading row:
        rows = rows.slice(1);
        // alert("heh");
        // set up the queryselector for getting the indicated
        // column from a row, so we can compare using its value:
        var qs = "td:nth-child(" + colnum.toString() + ")";
        // console.log(qs)
        // and then just... sort the rows:
        rows.sort( (r1,r2) => {
            // get each row's relevant column
            var t1 = r1.querySelector(qs);
            var t2 = r2.querySelector(qs);
            // console.log(t1);
            // console.log(t1.textContent);
            // console.log($(t1).data("value"));
            // console.log(t2);
            // and then effect sorting by comparing their content:
            return compareValues($(t1).data("value"),$(t2).data("value"), toBeOrder); // .textContent, .data("value"), .attr("data-value")
        });

        // and then the magic part that makes the sorting appear on-page:
        rows.forEach(row => table.appendChild(row));
    }

    function updateChildSelectors() {
        var sportSelector = document.getElementById("sport-selector-group");
        var positionSelector = document.getElementById("position-selector-group");
        var options = positionSelector.getElementsByTagName("option");
        for (var i = 0; i < options.length; i++) {
            var jqEl = $(options[i]);
            if(jqEl.data("sport") == sportSelector.value) {
                jqEl.show();
            } else {
                jqEl.hide();
            }
        };
    }

    function updateTable(category, updateTarget) {
        var sportSelector = document.getElementById("sport-selector-group");
        var positionSelector = document.getElementById("position-selector-group");
        // alert(sportSelector.value);
        // alert(positionSelector.value);
        rows = document.getElementsByTagName("tr");
        for (var i = 1; i < rows.length; i++) { // starts at 1 to skip the header-row
            jqEl = $(rows[i]);
            // if(sportSelector.value != "") {
            //     if (jqEl.data("sport") == sportSelector.value) {
            //         jqEl.show();
            //     } else {
            //         jqEl.hide();
            //     }
            // }

            if(positionSelector.value != "") {
                if (jqEl.data("position") == positionSelector.value) {
                    jqEl.show();
                } else {
                    jqEl.hide();
                }
            } else {
                jqEl.show();
            }
            // console.log(jqEl);
            // console.log(jqEl.data(category));
            // console.log(updateTarget.value);
        };
    }
</script>
</html>
