<!DOCTYPE html>
<html>
<head>
    <title>{% block head_title %}{% endblock head_title %}</title>
    {% block head %}
    {% endblock head %}
    {% load static %}
    <link rel="icon" href="{% static "market/images/other/venture_sports_primary_logo.png" %}">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
</head>
<body>
    {% block header %}{% endblock header %}
    <div id="login-container">
        <div id="home-logo-link">
            <a href="{% url 'market:index' %}"><img src="{% static "market/images/other/venture_sports_primary_logo.png" %}"></a>  
        </div>
        <div id="container-header">
            <h3>{% block container_header %}{% endblock container_header %}</h3>
        </div>
        {% block content %}
        {% endblock content %}
    </div>
</body>
<style type="text/css">
    body {
        background-color: #cccccc;
    }


    /*#content-container {
        float: left;
        width: 100%;
        height: 100%;
    }*/

    #login-container {
        float: left;
        width: 80%;
        height: 100%;
        margin-left: 10%;
        margin-right: 10%;
    }

    @media only screen and (min-width:1000px) /* make sure this is good, because it's a balagan by the chrome debugger */
    {
        #login-container {
            float: left;
            width: 50%;
            height: 100%;
            margin-left: 25%;
            margin-right: 25%;
        }
    }

    #home-logo-link {
        float: left;
        width: 80%;
        /*height: 30%;*/
        margin-left: 10%;
        margin-right: 10%;
    }

    @media only screen and (min-width:1000px) /* make sure this is good, because it's a balagan by the chrome debugger */
    {
        #home-logo-link {
            float: left;
            width: 50%;
            margin-left: 25%;
            margin-right: 25%;
        }
    }

    #home-logo-link a {
        float: left;
        width: 100%;
        height: 100%;
    }

    #home-logo-link a img {
        float: left;
        width: 100%;
        height: 100%;
    }

    #container-header {
        float: left;
        width: 100%;
        /* to override bootstrap or stam regular html properties */
        margin-top: 0%;
        margin-bottom: 0%;
        text-align: center;
        color: #404040;
        font-family: arial;
        font-size: 2em;
    }

    #container-header h3 {
        float: left;
        width: 100%;
        font-size: 2em;
        margin-top: 0%;
        margin-bottom: 10px;
    }

    #login-material-container {
        float: left;
        width: 100%;
    }

    @media only screen and (min-width:1000px) /* make sure this is good, because it's a balagan by the chrome debugger */
    {
        #login-material-container {
            float: left;
            width: 100%;
        }
    }

    #login-material-container form {
        width: 100%;
    }

    @media only screen and (min-width:1000px) /* make sure this is good, because it's a balagan by the chrome debugger */
    {
        #login-material-container form {
            width: 100%;
        }
    }

    #login-material-container form .input-group {
        width: 100%;
    }

    @media only screen and (min-width:1000px) /* make sure this is good, because it's a balagan by the chrome debugger */
    {
        #login-material-container form .input-group {
            width: 100%;
        }
    }


    #home-logo-link img {
        width: 250px;
        margin-bottom: 10px;
    }

    #login-error-container {
        color: red;
    }

    /*.invalid-feedback {
        display: block;
        visibility: hidden;
        width: 100%;
        height: 8px;
        margin: 0px;
    }*/
    input { /*#bootstrap-overrides */
        float: left;
        width: 100%;
        margin-bottom: 20px;
        border-radius: 5px;
        padding: 10px;
        border: 1px solid #404040;
        font-size: 2.5em;
        box-sizing:border-box;
    }

    @media only screen and (min-width:1000px) /* make sure this is good, because it's a balagan by the chrome debugger */
    {
        input {
            font-size: 1.5em;
        }
    }

    input[type="text"] {
        background-color: white;
    }

    input[type="password"] {
        background-color: white;
    }

    input[type="submit"] { /*#bootstrap-overrides */
        cursor: pointer;
        float: left;
        width: 60%;
        margin-left: 20%;
        margin-right: 20%;
        color: #cccccc;
        background-color: #404040;
        font-size: 3em;
    }

    @media only screen and (min-width:1000px) /* make sure this is good, because it's a balagan by the chrome debugger */
    {
        input[type="submit"] { /*#bootstrap-overrides */
            cursor: pointer;
            float: left;
            width: 40%;
            margin-left: 30%;
            margin-right: 30%;
            color: #cccccc;
            background-color: #404040;
            font-size: 1.5em;
        }
    }

    input[type="submit"]:hover { /*#bootstrap-overrides */
        color: #cccccc;
    }
    textarea {/*#bootstrap-overrides */
        float: left;
        width: 100%;
        height: 400px;
        margin-bottom: 20px;
        border: 1px solid #404040;
        border-radius: 5px;
        font-size: 2em;
        box-sizing:border-box;
    }

    @media only screen and (min-width:1000px) /* make sure this is good, because it's a balagan by the chrome debugger */
    {
        textarea {
            float: left;
            width: 100%;
            height: 250px;
            margin-bottom: 20px;
            border: 1px solid #404040;
            border-radius: 5px;
            font-size: 1.5em;
            box-sizing:border-box;
        }
    }
    {% block css %}
    {% endblock css %}
</style>
<script type="text/javascript">
    window.onload = function() {
        validate();
    }

    function validate() {
        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.getElementsByClassName('needs-validation');

        //  Loop over them and prevent submission
        var validation = Array.prototype.filter.call(forms, function(form) {
          form.addEventListener('submit', function(event) {
            if (form.checkValidity() === false) {
              event.preventDefault();
              event.stopPropagation();
            }
            form.classList.add('was-validated');
            // document.getElementById("username-invalid-feedback").classList.add('visible');
            // document.getElementById("password-invalid-feedback").classList.add('visible');
          }, false);
        });
    }
</script>
</html>