{% extends "market/base.html" %}

{% block page_title %}Contact Us{% endblock page_title %}
{% block head %}
{% load static %}
<!-- <link rel="stylesheet" type="text/css" href="{% static "market/bootstrap_css/bootstrap.css" %}"> -->
<!-- <link rel="stylesheet" type="text/css" href="{% static "market/bootstrap_css/bootstrap.css" %}"> -->
<!-- <script src="{% static "market/bootstrap_js/bootstrap.js" %}"></script> -->
{% endblock head %}
{% block header %}
{% include "market/header.html" with user=user scheduled_games=scheduled_games list_of_names=list_of_names %}
{% endblock header %}

{% block container_header %}Contact Us{% endblock container_header %}

{% block content %}
        <div id="login-material-container">
        <form class="needs-validation" action="{% url 'market:contact_us' %}" method="post" novalidate> <!-- novalidate turns off the default browser validation behaviour -->
        {% csrf_token %}
            <div class="input-group mb-3">
                <!-- needed to override bootstrap -->
                <input id="player-search-input-text" type="text" name="email" placeholder="Email" style="background-color:white;" required>
            </div>
            <div class="input-group mb-3">
                <textarea id="w3mission" name="content" placeholder="Question..."></textarea>
            </div>
            <div class="form-group">
                <input type="submit" class="" value="Send Email">
            </div>
        </form>
        </div>
    </div>
{% endblock content %}
<style type="text/css">
    #space-eater {
        width: 50%;
        height: 625px;
        float: left;
        overflow: hidden;
        background-color: #cccccc;
        /*background: url('{% static "market/images/hexagon_background.png" %}');*/
    }

    #space-eater i {
        font-size: 100px;
        margin-left: 28px;
        margin-top: 6px;
    }

    #login-container {
        float: right;
        text-align: center;
        display: flex;
        width: 50%;
        height: 625px;
    }

    #login-material-container {
        width: 400px;
        height: 500px;
        margin: auto;
    }


    #home-logo-link img {
        width: 250px;
        margin-bottom: 10px;
    }

    textarea {
        width: 100%;
        border-radius: 5px;
        resize: none;
    }

    #login-error-container {
        color: red;
    }

    /*.invalid-feedback {
        display: block;
        visibility: hidden;
        width: 100%;
        height: 8px;
        margin: 0px;
    }*/
</style>
<script type="text/javascript">
    window.onload = function() {
        validate();
    }

    function validate() {
        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.getElementsByClassName('needs-validation');

        //  Loop over them and prevent submission
        var validation = Array.prototype.filter.call(forms, function(form) {
          form.addEventListener('submit', function(event) {
            if (form.checkValidity() === false) {
              event.preventDefault();
              event.stopPropagation();
            }
            form.classList.add('was-validated');
            // document.getElementById("username-invalid-feedback").classList.add('visible');
            // document.getElementById("password-invalid-feedback").classList.add('visible');
          }, false);
        });
    }
</script>
</html>