<div id="footer">
    <a href="">Contact</a>
    <a href="">About Us</a>
    <a href="">FAQ</a>
    <a href="">Site Map</a>
    <a href="">Site Map</a>
    <a href="">Site Map</a>
    <a href="">Site Map</a>
    <a href="">Site Map</a>
    <a href="">Site Map</a>
</div>
<style type="text/css">
    #footer {
        width: 100%;
        height: 400px;
        background-color: #404040;
    }
</style>
