<!-- has to be here, but incorrect, should do the extends/block mehalech -->
{% load static %}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
<link rel="stylesheet" type="text/css" href="{% static "market/main.css" %}">
<script type="text/javascript" src="{% static "market/jquery-3.4.1.js" %}"></script>


<!--<div id="header-first-row-container">
    <div id="sports-selector-dropdown-backdrop">
        <div id="sports-selector-dropdown-container">
          <div id="sports-selector-menu">

            <a class="dropdown-item" href="#"><i class="fa fa-basketball-ball"></i>NBA</a>
            <a class="dropdown-item" href="#"><i class="fa fa-baseball-ball"></i>MLB</a>
            <a class="dropdown-item" href="#"><i class="fa fa-football-ball"></i>NFL</a>
            <a class="dropdown-item" href="#"><i class="fa fa-basketball-ball"></i>NHL</a>
          </div>
        </div>
    </div>
    <div id="scheduled-games-container">
        {% for matchup in scheduled_games %}
        <div class="scheduled-games">
            <div class="teams-container">
                <div class="team-container away-team-container">
                    <p>{{ matchup.away_team }}</p>
                    <img src="{% static "market/images/teams/nba_teams/nba_atlanta_hawks.png" %}">
                </div>
                <div class="team-container home-team-container">
                    <p>{{ matchup.home_team }}</p>
                    <img src="{% static "market/images/teams/nba_teams/nba_atlanta_hawks.png" %}">
                </div>
            </div>
            <div>
                <p>{{ matchup.game_time }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>-->
<div id="header-second-row-container">
    <div id="home-logo-container">
        <a id="home-logo" href="{% url 'market:index' %}">
            <img id="desktop-image" src="{% static "market/images/other/venture_sports_primary_logo.png" %}">
            <img id="mobile-image" src="{% static "market/images/other/venture_sports_secondary_logo_055f00.png" %}">
        </a>
    </div>
    <div id="player-search-container">
        <!-- <input type="text" placeholder="Narrow Search Results" name="fuzzy" id='fuzzy-search' onkeyup='getSearchResults()'> -->
        <form autocomplete="off" action="/market/search/">
          <div id="player-search-input-container" class="autocomplete">
            <input id="player-search-input-text" type="text" spellcheck="false" name="search_query" placeholder="Search">
          </div>
          <div id="player-search-submit-container">
            <input id="player-search-submit" type="submit" value="Search">
          </div>
        </form>
    </div>
    <div id="leftover-navbar">
        <div id="rules-navbar-item" class="leftover-navbar-item">
            <a class="leftover-navbar-item-content" href="{% url 'market:all_player_stats' %}"><span></span></a>
            <p>Players</p>
        </div>
        {% if user.is_authenticated %}
        <div id="account-dropdown" class="leftover-navbar-item">
            <a class="leftover-navbar-item-content" href="#"><span></span></a>
            <p>Account</p>
            <div id="account-dropdown-content">
                <!-- <div class="account-dropdown-item">
                    <i class="fa fa-file-alt"></i>
                    <a href="#">Rules<span></span></a>
                </div> -->
                <!-- <div class="account-dropdown-item">
                    <i class="fa fa-gift"></i>
                    <a href="#">Free Stock<span></span></a>
                </div> -->
                <div class="account-dropdown-item">
                    <i class="fa fa-user"></i>
                    <a href="{% url 'market:account' %}">Account<span></span></a>
                </div>
                <div class="account-dropdown-item">
                    <i class="fa fa-question-circle"></i>
                    <a href="{% url 'market:rules' %}">FAQ<span></span></a>
                </div>
                <div class="account-dropdown-item">
                    <i class="fa fa-user"></i>
                    <a href="#">Banking<span></span></a>
                </div>
                <div class="account-dropdown-item">
                    <i class="fa fa-university"></i>
                    <a href="#">History<span></span></a>
                </div>
                <!-- <div class="account-dropdown-item">
                    <i class="fa fa-file"></i>
                    <a href="#">Documents<span></span></a>
                </div> -->
                <div class="account-dropdown-item">
                    <i class="fa fa-cog"></i>
                    <a href="#">Settings<span></span></a>
                </div>
                <!-- <div class="account-dropdown-item">
                    <i class="fa fa-basketball-ball"></i>
                    <a href="#">About<span></span></a>
                </div> -->
                <div class="account-dropdown-item">
                    <i class="fa fa-phone"></i>
                    <a href="{% url 'market:contact_us' %}">Contact Us<span></span></a>
                </div>
                <div class="account-dropdown-item">
                    <i class="fa fa-sign-out-alt"></i>
                    <a href="{% url 'market:logout' %}">Logout<span></span></a>
                </div>
            </div>
        </div>
        {% else %}
        <div id="signin-navbar-item" class="leftover-navbar-item">
            <a href="{% url 'market:login' %}">
                <span>Sign In</span>
            </a>
        </div>
        <div id="signup-navbar-item" class="leftover-navbar-item">
            <a href="{% url 'market:signup' %}"><span>Sign Up</span></a>
        </div>
        {% endif %}
    </div>
</div>
<style type="text/css">
body {
    font-family: Arial;
}
/* section start: header first row */
#header-first-row-container {
    width: 100%;
    height: 150px;
}

@media only screen and (min-width:1000px) /* make sure this is good, because it's a balagan by the chrome debugger */
{
    #header-first-row-container {
        width: 100%;
        height: 75px;
    }
}

#sports-selector-dropdown-backdrop {
    float: left;
    width: 25%;
    height: 100%;
    background: #404040;
}

@media only screen and (min-width:1000px) /* make sure this is good, because it's a balagan by the chrome debugger */
{
    #sports-selector-dropdown-backdrop {
        float: left;
        width: 15%;
        height: 100%;
        background: #404040;
    }
}

#sports-selector-dropdown-container {
    width: 80%;
    height: 50px;
    background-color: #cccccc;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 45px;
    border-radius: 10px;
    font-size: 2em;
    text-align: center;
    position: relative;
}

@media only screen and (min-width:1000px) /* make sure this is good, because it's a balagan by the chrome debugger */
{
    #sports-selector-dropdown-container {
        width: 60%;
        height: 30px;
        background-color: #cccccc;
        margin-left: 20%;
        margin-right: 20%;
        margin-top: 25px;
        border-radius: 10px;
        font-size: 1em;
        text-align: center;
        position: relative;
    }
}

#sports-selector-dropdown-container:hover {
    cursor: pointer;
}



#sports-selector-button {
    /*vertical-align: middle;*/
    color: #404040;
}

#sports-selector-button:hover {
    text-decoration: none;
}

#sports-selector-menu {
    text-align: left;
    display: none;
    position: absolute;
    vertical-align: middle;

    left: 0;
    top: 100%;
    background-color: #cccccc;
    min-width: 100%;
    /*box-shadow: 2px 2px 3px #888, -2px 2px 3px #888;*/
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,1);
    z-index: 111111;
    font-size: 16px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
    /*font-size: 0;*/
}

.dropdown-item {
    height: 80px;
    /*text-align: left;*/
    /*float: left;*/
    padding: 6px 6px;
    font-size: 2em;
    vertical-align: middle;
    color: #404040;
}

@media only screen and (min-width:1000px) /* make sure this is good, because it's a balagan by the chrome debugger */
{
    .dropdown-item {
        height: 40px;
        /*text-align: left;*/
        /*float: left;*/
        padding: 6px 6px;
        font-size: 1em;
        vertical-align: middle;
        color: #404040;
    }
}

.dropdown-item:active {

    /*background-color: red;*/
    /*color: #404040;*/
}

/* was white before, weird issue, weird fix, but it works */
.dropdown-item:focus {
    background-color: #cccccc;
    color: #404040;
}

.dropdown-item:hover {

    background-color: {{ primary_hover_color }};
    color: #404040;
}

.dropdown-item i {
    margin-left: 5px;
    margin-right: 5px;
}

/*.dropdown-item:hover {
    background-color: {{ primary_hover_color }};
    color: #404040;
}*/


/* taken from https://stackoverflow.com/questions/796087/make-a-div-into-a-link */
.dropdown-item a span {
    position:absolute; 
    width:100%;
    height:100%;
    top:0;
    left: 0;
    z-index: 1;
    background-image: url('empty.gif');
}
#sports-selector-dropdown-container:hover {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
/*#sports-selector-dropdown-container:hover #sports-selector-menu {
    display: block;
    width: 100%;
}*/
/*
#sports-selector-button:hover #sports-selector-menu {
    display: block;
    width: 100%;
}*/







#scheduled-games-container {
    float: left;
    width: 75%;
    height: 100%;

}


.scheduled-games {
    float: left;
    width: 200px;
    height: 100%;
}

.teams-container {
    /*float: left;*/
    /*width: 10%;*/
    /*font-size: 10px;  how to get font bolded */
    height: 100%;
}

.team-container {
    border: 1px solid #404040;
    border-collapse: collapse;
    height: 50%;
}
.away-team-container p {
    margin: 10px;
}

.team-container p {
    float: left;
    width: 50%;
    font-size: 10px;  
}

.team-container img {
    /*width: 30px;*/
    height: 20px;
}
/* section end: header first row */

/* section start: header second row */
#header-second-row-container {
    float: left;
    width: 100%;
    height: 100px;
    margin-bottom: 5px;
    position: sticky;
    top: 0;
    z-index: 100000;
    background-color: #404040; /*#404040;*/
}

@media only screen and (min-width:1000px) /* make sure this is good, because it's a balagan by the chrome debugger */
{
    #header-second-row-container {
        float: left;
        width: 100%;
        height: 50px;
        margin-bottom: 5px;
        position: sticky;
        top: 0;
        z-index: 100000;
        background-color: #404040;
    }
}

#home-logo-container {
    float: left;
    width: 12%;
    height: 100%;
    /*padding: 5px;*/
    margin-left: 0%;
    /*margin-right: 1%;*/
}

@media only screen and (min-width:1000px) /* make sure this is good, because it's a balagan by the chrome debugger */
{
    #home-logo-container {
        float: left;
        width: 12%;
        height: 100%;
        padding: 0px;

        margin-left: 0%;
        /*margin-right: 1%;*/
    }
}

#mobile-image {
    display: block;
    /*margin: 2px;*/
}

@media only screen and (min-width:1000px) /* make sure this is good, because it's a balagan by the chrome debugger */
{
    #mobile-image {
        display: none;
    }
}

#desktop-image {
    display: none;
}

@media only screen and (min-width:1000px) /* make sure this is good, because it's a balagan by the chrome debugger */
{
    #desktop-image {
        display: block;
    }
}

#home-logo {
    float: left;
    width: 60%;
    height: 100%;
}

#home-logo img {
    margin-left: 0px;
    height: 100%;
}

@media only screen and (min-width:1000px) /* make sure this is good, because it's a balagan by the chrome debugger */
{
    #home-logo img {
        margin-left: 5px;
        height: 100%;
    }
}


/* section start: main player search box */
/*full js and css can be found at https://www.w3schools.com/howto/howto_js_autocomplete.asp*/
#player-search-container {
    float: left;
    /*position: relative;*/
    width: 52%;
    height: 100%;
}

@media only screen and (min-width:1000px) /* make sure this is good, because it's a balagan by the chrome debugger */
{
    #player-search-container {
        float: left;
        /*position: relative;*/
        width: 50%;
        height: 100%;
    }
}

#player-search-container form {
    float: left;
    width: 100%;
    height: 100%;
}

#player-search-input-container {
    float: left;
    width: 60%; /* make sure it's wide enough to fit the longest player name on any device */
    height: 100px;
    
    margin-right: 1%;

}

@media only screen and (min-width:1000px) /* make sure this is good, because it's a balagan by the chrome debugger */
{
    #player-search-input-container {
        float: left;
        width: 50%; /* make sure it's wide enough to fit the longest player name on any device */
        height: 50px;
        margin-right: 1%;
    }
}

#player-search-input-container input {
    box-sizing:border-box;
    float: left;
    height: 80px;  
    width: 100%;

    margin-top: 10px;
    /* need margin bottom and float none to override input on contact us(really base.html) float left and margin bottom */
    margin-bottom: 0%;
    float: none;
    border-radius: 10px;
    background-color: #404040;
    color: #cccccc;
    caret-color: #cccccc;
    box-shadow: 0px 0px 10px black; /*box-shadow: 0px 8px 16px 0px rgba(0,0,0,1); range from 0 - 1 */
    font-size: 2em;
}

@media only screen and (min-width:1000px) /* make sure this is good, because it's a balagan by the chrome debugger */
{
    #player-search-input-container input {
        height: 40px;  
        margin-top: 5px;
        font-size: 1em;
    }
}

#player-search-input-container input:focus {
    outline:none;
}

#player-search-submit-container {
    /*position: absolute;*/
    float: left;
    width: 23%;
    height: 100%;
    margin-right: 1%;
    cursor: pointer;
    /*margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 10px;*/
}

#player-search-submit-container input {
    /*position: absolute;*/
    float: left;
    height: 80%;  
    width: 100%;
    cursor: pointer;
    
    /* need left and right margin to override the margins at contact us(really base.html), that give input of type submit big margins */
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 10px;
    padding: 0px;
    box-shadow: 0px 0px 10px black; /*box-shadow: 0px 8px 16px 0px rgba(0,0,0,1); range from 0 - 1 */

    /*margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 10px;*/
    font-size: 1.5em;

}

@media only screen and (min-width:1000px) /* make sure this is good, because it's a balagan by the chrome debugger */
{
    #player-search-submit-container input {
        margin-top: 5px;
        font-size: 1em;
    }
}

#player-search-submit:focus {
    outline:none;
}


/** { box-sizing: border-box; }
body {
    font: 16px Arial;
}*/
.autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
    display: inline-block;
}
input {
    border: 1px solid transparent;
    background-color: #404040;
    padding: 10px;
}

input[type=text] {
    /*background-color: #404040;*/
    /*width: 100%;*/
}

input[type=submit] {
    border-radius: 5px;
    background-color: #404040;
    color: #cccccc;
}

.autocomplete-items {
    position: absolute;
    overflow: hidden;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,1); /* range from 0 - 1 */
    /*border: 1px solid #d4d4d4;*/
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    /*top: 100%; this is what it was originally, but was causing blank space between the input and menu */
    top: 0;
    left: 0;
    right: 0;
}

.autocomplete-items div {
    /*padding: 10px; i took this out myself to allow for the a tag to fill the whole .autocomplete-items div space */
    height: 80px;
    cursor: pointer;
    background-color: #404040;
    font-size: 2em;
}

@media only screen and (min-width:1000px) /* make sure this is good, because it's a balagan by the chrome debugger */
{
    .autocomplete-items div {
        /*padding: 10px; i took this out myself to allow for the a tag to fill the whole .autocomplete-items div space */
        height: 45px;
        cursor: pointer;
        background-color: #404040;
        font-size: 1em;
    }
}

.autocomplete-items:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* added this so the a tag would fill the whole container */
.autocomplete-items div a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 10px;
    text-decoration: none;
    color: #cccccc;
}
.autocomplete-items div:hover {
    background-color: {{ secondary_hover_color }};
}
.autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: {{ secondary_hover_color }} !important;
}
/* section end: main player search box */

/* some of the shtick here comes from https://stackoverflow.com/questions/20806700/a-horitzontal-align-slightly-off-center, its a mess now*/
#leftover-navbar {
    float: left;
    width: 36%;
    height: 100%;
    background-color: #404040;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

@media only screen and (min-width:1000px) /* make sure this is good, because it's a balagan by the chrome debugger */
{
    #leftover-navbar {
        float: left;
        width: 38%;
        height: 100%;
        background-color: #404040;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }
}

/*.leftover-navbar-item:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}*/

.leftover-navbar-item {
    /* width of .leftover-navbar-items are declared explicitly by there id selector
    so declaring their width won't affect them */
    float: left;
    height: 100%;
    /*display: inline-block;*/
    /*padding: 0px;*/
    text-align: center;
    /*vertical-align: middle;*/
    /*font-size: 0;*/
    /*line-height: 50px;*/
    /*display: flex;*/
    /*align-items: center;*/
    /*overflow: hidden;*/
    position: relative; /* must be relative so that only the div - and nothing outside it - is the a tag link clickable acc https://stackoverflow.com/questions/796087/make-a-div-into-a-link*/
}

/* taken from https://stackoverflow.com/questions/796087/make-a-div-into-a-link */
.leftover-navbar-item a span {
    position:absolute; 
    width:100%;
    height:100%;
    top:0;
    left: 0;
    z-index: 1;
    /* fixes overlap error in IE7/8, 
     make sure you have an empty gif */
    background-image: url('empty.gif');
}

/*.leftover-navbar-item-content {
    vertical-align: middle;
    font-size: 16px;
    color: #cccccc;
}
*/
.leftover-navbar-item-content:hover {
    text-decoration: none;
    color: #cccccc;
}
    
#rules-navbar-item {
    width: 35%;
    height: 100%;
}

@media only screen and (min-width:1000px) /* make sure this is good, because it's a balagan by the chrome debugger */
{
    #rules-navbar-item {
        width: 50%;
    }
}

#rules-navbar-item p {
    /*width: 100%;*/
    /*height: 100%;*/
    margin-top: 36px;
    color: #cccccc;
    font-size: 1.5em;
}

@media only screen and (min-width:1000px) /* make sure this is good, because it's a balagan by the chrome debugger */
{
    #rules-navbar-item p {
        width: 70%;
        margin-top: 16px;
        font-size: 1em;
    }
}

#account-dropdown {
    width: 65%;
    height: 100%;
    position: relative;
}

@media only screen and (min-width:1000px) /* make sure this is good, because it's a balagan by the chrome debugger */
{
    #account-dropdown {
        width: 40%;
        position: relative;
    }
}

#account-dropdown p {
    margin-top: 32px;
    margin-bottom: 0px;
    color: #cccccc;
    font-size: 1.5em; /* not sure why this shouldn't be 1.5em ? */

}

@media only screen and (min-width:1000px) /* make sure this is good, because it's a balagan by the chrome debugger */
{
    #account-dropdown p {
        margin-top: 13px;
        font-size: 1em;
    }
}

#account-dropdown-content {
    text-align: left;
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: #404040;
    min-width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,1);
    padding: 0px 0px;
    z-index: 111111;
    font-size: 16px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
}

@media only screen and (min-width:1000px) /* make sure this is good, because it's a balagan by the chrome debugger */
{
    #account-dropdown-content {
        text-align: left;
        display: none;
        position: absolute;
        left: 0;
        top: 100%;
        background-color: #404040;
        min-width: 100%;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,1);
        padding: 0px 0px;
        z-index: 111111;
        font-size: 16px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        overflow: hidden;
    }
}

.account-dropdown-item {
    /*float: left;*/
    /*width: 500px;*/
    height: 80px;
    position: relative; /* must be relative so that only the div - and nothing outside it - is the a tag link clickable*/
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 1.75em;
    color: #cccccc;
}

@media only screen and (min-width:1000px) /* make sure this is good, because it's a balagan by the chrome debugger */
{
    .account-dropdown-item {
        /*float: left;*/
        /*width: 500px;*/
        height: 45px;
        position: relative; /* must be relative so that only the div - and nothing outside it - is the a tag link clickable*/
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 1em;

        color: #cccccc;
    }
}

.account-dropdown-item a {
    /*position: relative;*/
    /*vertical-align: middle;*/
    /*text-decoration: none;*/
    color: #cccccc;
}

.account-dropdown-item a:hover {
    /*position: relative;*/
    /*vertical-align: middle;*/
    text-decoration: none;
    color: #cccccc;
}

.account-dropdown-item i {
    margin-left: 10px;
}

.account-dropdown-item:hover {
    background-color: {{ secondary_hover_color }};
}

/* taken from https://stackoverflow.com/questions/796087/make-a-div-into-a-link */
.account-dropdown-item a span {
    position:absolute; 
    width:100%;
    height:100%;
    top:0;
    left: 0;
    z-index: 1;
    /* fixes overlap error in IE7/8, 
     make sure you have an empty gif */
    background-image: url('empty.gif');
}

#account-dropdown:hover #account-dropdown-content {
    display: block;
}

#signin-navbar-item {
    float: left;
    width: 30%;
    height: 80%;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    /*to copy the other inputs*/
    border: 1px solid #404040;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px black;
    cursor:pointer;
    /*padding: 5px;*/
    text-align: center;
    color: #cccccc;
    background-color: #404040;

}

@media only screen and (min-width:1000px) /* make sure this is good, because it's a balagan by the chrome debugger */
{
    #signin-navbar-item {
        float: left;
        width: 20%;
        height: 80%;
        margin-left: 1%;
        margin-right: 1%;
        margin-top: 5px;
        margin-bottom: 5px;
        border-radius: 5px;
        box-sizing: border-box;
        box-shadow: 0px 0px 10px black;
        cursor:pointer;
        text-align: center;
        color: #cccccc;
        background-color: #404040;
    }
}

#signin-navbar-item a span {
    float: left;
    width: 100%;
    height: 100%;
    padding-top: 24px;
    font-size: 1.5em;
    color: #cccccc;
}

@media only screen and (min-width:1000px) /* make sure this is good, because it's a balagan by the chrome debugger */
{
    #signin-navbar-item a span {
        float: left;
        width: 100%;
        height: 100%;
        padding-top: 10px;
        /*padding: 8px;*/
        font-size: 1em;
        color: #cccccc;
    }
}

#signup-navbar-item {
    float: left;
    width: 30%;
    height: 80%;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    /*to copy the other inputs*/
    border: 1px solid #404040;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px black;
    cursor:pointer;
    /*padding: 7px;*/
    text-align: center;
    color: #cccccc;
    background-color: #404040;

}

@media only screen and (min-width:1000px) /* make sure this is good, because it's a balagan by the chrome debugger */
{
    #signup-navbar-item {
        float: left;
        width: 20%;
        height: 80%;
        margin-left: 1%;
        margin-right: 1%;
        margin-top: 5px;
        margin-bottom: 5px;
        border-radius: 5px;
        box-sizing: border-box;
        box-shadow: 0px 0px 10px black;
        cursor:pointer;
        text-align: center;
        color: #cccccc;
        background-color: #404040;
    }
}

#signup-navbar-item a span {
    float: left;
    width: 100%;
    height: 100%;
    padding-top: 24px;
    font-size: 1.5em;
    color: #cccccc;
}

@media only screen and (min-width:1000px) /* make sure this is good, because it's a balagan by the chrome debugger */
{
    #signup-navbar-item a span {
        float: left;
        width: 100%;
        height: 100%;
        padding-top: 10px;
        /*padding: 7px;*/
        font-size: 1em;
        color: #cccccc;
    }
}
/* section end: header second row */
</style>
















<script type="text/javascript">
// got this from https://stackoverflow.com/questions/15751362/window-onload-in-external-script-gets-ignored-in-javascript,
// it says to really do this in all files, but im lazy, be m'ayin if errors occur in future
window.addEventListener("load", function() {
    console.log({{ list_of_names|safe }});
    var playersArray = {{ list_of_names|safe }};
    console.log("playersArray");
    console.log(playersArray);
    autocomplete(document.getElementById("player-search-input-text"), playersArray);
    $('#sports-selector-dropdown-container').mouseenter(function() {
        $('#sports-selector-menu').show(); //.style.display = "block";
    });
    $('#sports-selector-dropdown-container').mouseleave(function() {
        $('#sports-selector-menu').hide(); //.style.display = "none";
    });
    $('#sports-selector-menu').click(function() {
        $('#sports-selector-menu').hide();// .style.display = "none";
    });
    switchScheduleMenuSport();
})

// see here: https://simpleisbetterthancomplex.com/tutorial/2016/08/29/how-to-work-with-ajax-request-with-django.html
function switchScheduleMenuSport() {
    $('#sports-selector-menu').children('.dropdown-item').click(function() {
        $('#sports-selector-button').text($(this).text());
        // document.getElementById('sports-selector-menu').style.display = "none"; // basically equvalent to .style.display = "none";
        
        $('#scheduled-games-container').empty();
        // console.log(selectedSport);
        // alert(selectedSport);
        $.ajax({
            url: '/market/ajax/get_scheduled_games/', //"{# url 'get_scheduled_games' #}", for url it must explicitly be '/market/etc...' or not start with a '/' and just be 'etc...'
            data: {
              'sport': $(this).text()
            },
            dataType: 'json',
            success: function (data) {
                // alert('successful');
              if (data.ajax_scheduled_games) {
                // alert(data.sport);
                console.log(data.ajax_scheduled_games);
              }
                for (var i = 0; i < data.ajax_scheduled_games.length; i++) {
                    var game_text = data.ajax_scheduled_games[i]["home_team"] + " @ " + data.ajax_scheduled_games[i]["away_team"] + data.ajax_scheduled_games[i]["game_time"]
                    var g = $("<p></p>").text(game_text).append();
                    $('#scheduled-games-container').append(g);
                };
            }
          });
        
        
    })
    }
// full js and css can be found at https://www.w3schools.com/howto/howto_js_autocomplete.asp



// TODO redo it to also search for last name, also might have to take a dict(with sport and/or team to display),
// instead of an array, and if needed/more fancy do famous players return first
function autocomplete(inp, arr) {
    /*the autocomplete function takes two arguments,
    the text field element and an array of possible autocompleted values:*/
    var currentFocus;
    /*execute a function when someone writes in the text field:*/
    inp.addEventListener("input", function(e) {
        var a, b, i, val = this.value;
        // console.log(e);
        var inputText = document.getElementById("player-search-input-text");
        /*close any already open lists of autocompleted values*/
        closeAllLists();
        if (!val) {
            inputText.style.borderBottomLeftRadius = "10px";
            inputText.style.borderBottomRightRadius = "10px";
            return false;
        }
        currentFocus = -1;
        /*create a DIV element that will contain the items (values):*/
        a = document.createElement("DIV");
        a.setAttribute("id", this.id + "autocomplete-list");
        a.setAttribute("class", "autocomplete-items");
        a.setAttribute("style", "z-index:10000;position:relative;"); // must include this so that it overlays above other stuff below

        /*append the DIV element as a child of the autocomplete container:*/
        this.parentNode.appendChild(a);
        /*for each item in the array...*/
        var numberOfMatches = 0;
        for (i = 0; i < arr.length; i++) {
            /*create a DIV element for each matching element:*/
            b = document.createElement("DIV");
            c = document.createElement("A");
            b.appendChild(c);
            var playerId = arr[i].pk; // for some reason the pk is outside of the fields dict, unlike for name
            c.href = "/market/" + playerId;
            /*check if the item starts with the same letters as the text field value:*/
            if (arr[i].fields.name.substr(0, val.length).toUpperCase() == val.toUpperCase()) {
                if(numberOfMatches > 10) {
                    break;
                }
                numberOfMatches += 1;
                /*make the matching letters bold:*/
                c.innerHTML += "<strong>" + arr[i].fields.name.substr(0, val.length) + "</strong>";
                c.innerHTML += arr[i].fields.name.substr(val.length);
                /*insert a input field that will hold the current array item's value:*/
                c.innerHTML += "<input type='hidden' value='" + arr[i].fields.name + "'>";

                /*execute a function when someone clicks on the item value (DIV element):*/
                // c.addEventListener("click", function(e) {
                //     /*insert the value for the autocomplete text field:*/
                //     inp.value = this.getElementsByTagName("input")[0].value;
                //     /*close the list of autocompleted values,
                //     (or any other open lists of autocompleted values:*/
                //     closeAllLists();
                // });
                a.appendChild(b);
                inputText.style.borderBottomLeftRadius = "0px";
                inputText.style.borderBottomRightRadius = "0px";
            }
            else if(arr[i].fields.name.split(" ")[1].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
                if(numberOfMatches > 10) {
                    break;
                }
                numberOfMatches += 1;
                /*make the matching letters bold:*/
                c.innerHTML += arr[i].fields.name.split(" ")[0] + " ";
                c.innerHTML += "<strong>" + arr[i].fields.name.split(" ")[1].substr(0, val.length) + "</strong>";
                c.innerHTML += arr[i].fields.name.split(" ")[1].substr(val.length);
                /*insert a input field that will hold the current array item's value:*/
                c.innerHTML += "<input type='hidden' value='" + arr[i].fields.name + "'>";
                /*execute a function when someone clicks on the item value (DIV element):*/
                // c.addEventListener("click", function(e) {
                //     /*insert the value for the autocomplete text field:*/
                //     inp.value = this.getElementsByTagName("input")[0].value;
                //     /*close the list of autocompleted values,
                //     (or any other open lists of autocompleted values:*/
                //     closeAllLists();
                // });

                a.appendChild(b);
                inputText.style.borderBottomLeftRadius = "0px";
                inputText.style.borderBottomRightRadius = "0px";
            }
        }
        console.log("matches");
        console.log(numberOfMatches);

        if(numberOfMatches == 0) {
            inputText.style.borderBottomLeftRadius = "10px";
            inputText.style.borderBottomRightRadius = "10px";
        }
        var dropdownDiv = document.getElementById(this.id + "autocomplete-list");
        if (dropdownDiv) {
            dropdownDiv = dropdownDiv.getElementsByTagName("div");
            for(var i = 0; i < dropdownDiv.length; i++) {
                dropdownDiv[i].addEventListener("mouseover", function(e) {
                    var foundFocus = -1;
                    for(var j = 0; j < dropdownDiv.length; j++) {
                        console.log(dropdownDiv[j]);
                        if(dropdownDiv[j].classList.contains("autocomplete-active")) {
                            foundFocus = j;
                            console.log(foundFocus);
                            break;
                        }
                    }
                    mousedOverFocus = -1;
                    console.log(this);
                    for(var j = 0; j < dropdownDiv.length; j++) {
                        if(this === dropdownDiv[j]) {
                            // alert('found');
                            mousedOverFocus = j;
                            removeActive(dropdownDiv);
                            this.classList.add("autocomplete-active");
                            console.log(mousedOverFocus);
                            break;
                        }
                    }
                    currentFocus += mousedOverFocus - foundFocus;
                    // addActive(x);
                });
            }
        }
    });
    /*execute a function presses a key on the keyboard:*/
    inp.addEventListener("keydown", function(e) {
        var x = document.getElementById(this.id + "autocomplete-list");
        // console.log(x);
        if (x) x = x.getElementsByTagName("div");
        if (e.keyCode == 40) {
            /*If the arrow DOWN key is pressed,
            increase the currentFocus variable:*/
            currentFocus++;
            /*and and make the current item more visible:*/
            addActive(x);
        } else if (e.keyCode == 38) { //up
            /*If the arrow UP key is pressed,
            decrease the currentFocus variable:*/
            currentFocus--;
            /*and and make the current item more visible:*/
            addActive(x);
        } else if (e.keyCode == 13) {
            /*If the ENTER key is pressed, prevent the form from being submitted,*/
            searchUrl = "/market/search/" + this.value;

            var activePlayer = document.getElementsByClassName("autocomplete-active")
            if(activePlayer) {
                activePlayer = activePlayer[0];
                aTag = activePlayer.getElementsByTagName("a")[0];
                playerUrl = aTag.href;
                window.location.href = playerUrl;
                e.preventDefault();
            } else {
                url = searchUrl
                window.location.href = searchUrl;
            }
            

            
            
            if (currentFocus > -1) {
              /*and simulate a click on the "active" item:*/
              if (x) x[currentFocus].click();
            }
        }
    });


  
  function addActive(x) {
    /*a function to classify an item as "active":*/
    if (!x) return false;
    /*start by removing the "active" class on all items:*/
    removeActive(x);
    if (currentFocus >= x.length) currentFocus = 0;
    if (currentFocus < 0) currentFocus = (x.length - 1);
    /*add class "autocomplete-active":*/
    x[currentFocus].classList.add("autocomplete-active");
  }
  function removeActive(x) {
    /*a function to remove the "active" class from all autocomplete items:*/
    for (var i = 0; i < x.length; i++) {
      x[i].classList.remove("autocomplete-active");
    }
  }
  function closeAllLists(elmnt) {
    /*close all autocomplete lists in the document,
    except the one passed as an argument:*/
    var x = document.getElementsByClassName("autocomplete-items");
    for (var i = 0; i < x.length; i++) {
      if (elmnt != x[i] && elmnt != inp) {
      x[i].parentNode.removeChild(x[i]);
    }
    
  }
}
/*execute a function when someone clicks in the document:*/
document.addEventListener("click", function (e) {
    closeAllLists(e.target);
    var inputText = document.getElementById("player-search-input-text");
    if (e.target.id != inputText.id) {
        inputText.style.borderBottomLeftRadius = "10px";
        inputText.style.borderBottomRightRadius = "10px";
    };
    
    
});


}









  function getSearchResults() {
    
    var books = [{
  id: 1,
  title: 'The Great Gatsby',
  author: {
    firstName: 'F. Scott',
    lastName: 'Fitzgerald'
  }
},{
  title: 'The DaVinci Code',
  author: {
    firstName: 'Dan',
    lastName: 'Brown'
  }
}];
var searchString = document.getElementById('fuzzy-search').value;
console.log(searchString);
var options = {
  keys: ['author.firstName']
}
var f = new Fuse(books, options);
var result = f.search(searchString);
// console.log(result)
}


    

</script>
</body>
</html>