<!DOCTYPE html>
<html>
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-165282046-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-165282046-1');
        </script>


        <meta charset="utf-8">
        <title>Stock Market Sports | Where Fantasy Sports Meets Wallstreet</title>
        <meta name="description" content="A sports players' market where you earn money based on how your stocks performed!">
        <meta name="keywords" content="Sport,Sports,Stock,Stocks,Fantasy,Market,Wallstreet,Basketball,Football,Robinhood">
        <meta name="author" content="Elan Paul">
        <!-- What's this? -->
        <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
        {% load static %}
        <link rel="icon" href="{% static "market/images/other/venture_sports_primary_logo.png" %}">
        

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
        <link rel="stylesheet" href="{% static "market/main.css" %}">
        <script type="text/javascript" src="{% static "market/jquery-3.4.1.js" %}"></script>
        <script type="text/javascript" src="{% static "market/d3.js" %}"></script>

        {% load custom_tags %}
        <!-- <link rel="stylesheet" type="text/css" href="{# static "market/bootstrap_css/bootstrap.css" #}"> -->
    </head>
    <body>
    
        {% include "market/header.html" with user=user scheduled_games=scheduled_games list_of_names=list_of_names %}
        {% if True %} <!-- user.is_authenticated -->
        <div id="graph-dynamic-price-container">
            {% if user_market_detail %}
            <h1 id="graph-dynamic-price">${{ user.vsuser.money_in_the_bank|todollarsandcents }}</h1>
            {% endif %}
        </div>
        <div id="everything-container">
            <div id="main-and-graph-container">
                <div id="list-group-container">
                    <div id="list-group-contents">
                        {% if not user_shares and not user_watchlist_shares %}
                        <div id="stock-psa-message">
                            {% if user.is_authenticated %}
                            <h4>Hello {{ user.username }}, Build your portfolio! Go to a player and buy some shares or add him to your watchlist. Here are some suggestions to get you started</h4>
                            {% else %}
                            <h4>Welcome, Go sign up and create an account to start trading explore our platform. Here are some suggestions to get you started</h4>
                            {% endif %}
                        </div>
                        <div id="suggested-stocks-container">
                            {% for suggested_player in suggested_players_array %}
                            <div class="player-card" id="suggested-player-card" style="background: linear-gradient(to right, {{ suggested_player.team.primary_color }} 0%, transparent 70%, transparent 100%) no-repeat,{{ primary_design_color }};"><!-- style="background: linear-gradient(to right, #552583 0%, #FDB927 100%) no-repeat,white;" -->
                                <a href="{% url 'market:player_detail' suggested_player.id %}"><span></span></a>
                                <div class="player-card-content">
                                    <div class="card-image-container" id="suggested-card-image-container">
                                        <img id="suggested-player-image" src="/static/market/images/players/nba/{{ suggested_player.name|tovariablename }}.png" style="background:url('/static/market/images/teams/nba_teams/{{ suggested_player.team.full_name|tovariablename }}.png');background-size:100%;">
                                    </div>
                                    <div class="card-text-container">
                                        <h2>{{ suggested_player.name|title }}</h2>
                                        <h3>${{ suggested_player.current_price|todollarsandcents }}</h3>

                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            <!--  -->
                        </div>
                        {% else %}
                        <div id="share-group-header" class="list-item header-group-item">
                            <h5>Stocks</h5>
                        </div>
                        {% if user_shares %}
                        <div id="share-group">
                        {% for share in user_shares %}
                            <div class="list-item share-group-item">
                                <a href="{% url 'market:player_detail' share.player.id %}"><span></span></a>
                                <div class="share-stock-name stock-name">
                                    <p><b>{{ share.player.name|title|fitword:12 }}</b></p>
                                    <!-- <br> -->
                                    <!-- <p>{{ share.number_of_shares }} shares</p> -->
                                </div>
                                <div id="share-data-{{ forloop.counter0 }}" class="share-stock-data stock-data"><p>{{ share.number_of_shares }} shares</p></div>
                                <div class="share-stock-price stock-price"><p>${{ share.player.current_price|todollarsandcents }}</p></div>
                            </div>
                        {% endfor %}
                        </div>
                        {% else %}
                        <div class="empty-group-header">
                            <h3>You currently don't own any stocks</h3>
                        </div>
                        {% endif %}
                        <div class="list-item header-group-item">
                            <h5>Watchlist</h5>
                        </div>
                        {% if user_watchlist_shares %}
                        <div id="watchlist-group">
                            {% for wl_share in user_watchlist_shares %}
                            <div  class="list-item watchlist-group-item">
                                <a href="{% url 'market:player_detail' wl_share.player.id %}"><span></span></a>
                                <div class="watchlist-stock-name stock-name"><p><b>{{ wl_share.player.name|title|fitword:12 }}</b></p></div>
                                <div id="watchlist-data-{{ forloop.counter0 }}" class="watchlist-stock-data stock-data"></div>
                                <div class="watchlist-stock-price stock-price"><p>${{ wl_share.player.current_price|todollarsandcents }}</p></div>
                            </div>
                            {% endfor %}
                        </div>
                        {% else %}
                        <div class="empty-group-header">
                            <h3>You currently don't have any players on your watchlist</h3>
                        </div>
                        {% endif %}
                    {% endif %}
                    </div>
                </div>
                <div id="top-mover-container">
                    <div id="top-mover-contents">
                    {% for player in top_five_players %}
                        <div class="player-card" style="background: linear-gradient(to right, {{ player.team.primary_color }} 0%, transparent 70%, transparent 100%) no-repeat,{{ primary_design_color }};"><!-- what to put as the background fade to color white/black/#404040/#cccccc? -->
                            <a href="{% url 'market:player_detail' player.id %}"><span></span></a><!--player.0.player.id-->
                            <div class="player-card-contents">
                                <div class="card-image-container">
                                    <img src="/static/market/images/players/{{ player.sport }}/{{ player.name|tovariablename }}.png" style="background:url('/static/market/images/teams/{{ player.sport }}_teams/{{ player.team.full_name|tovariablename }}.png');background-size:100%;">
                                </div>
                                <div class="card-text-container">
                                {% if player.delta >= 0 %}
                                    <h2>{{ player.name|title|fitword:12  }}</h2>
                                    <h3 class="positive">${{ player.current_price|todollarsandcents }}</h3>
                                    <h4 class="positive">+${{ player.delta|absolute_value|todollarsandcents }} (+%{{ player.delta|delta_percentage:player.current_price|absolute_value }})</h4>
                                {% else %}
                                    <!-- note that the order is backwards, index 1 is before index 0 as opposed to above where it's reverse -->
                                    <h2>{{ player.name|title|fitword:12  }}</h2>
                                    <h3 class="negative">${{ player.current_price|todollarsandcents }}</h3><!---->
                                    <h4 class="negative">-${{ player.delta|absolute_value|todollarsandcents }} (-%{{ player.delta|delta_percentage:player.current_price|absolute_value }})</h4>
                                {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    </div>
                </div>
            </div>
            {% if user_shares or user_watchlist_shares %}
            <!-- <div id="statistics-table-container">
                <table>
                    <thead>
                        <tr>
                            <th>League</th>
                            <th>Name</th>
                            <th>Points</th>
                            <th>Rebounds</th>
                            <th>Assist</th>
                            <th>Price</th>
                            <th>Change</th>
                        </tr>
                    </thead>
                    <tbody> -->
                        <!-- combined owned stocks and watchlist into one array -->
                        {% for player in last_night_stats_array %}
                            {% if player %} should have an else statment, but if the player doesn't exist, you can't even display his name.
                            <!-- <tr>
                                <td><img src="/static/market/images/other/{{ player.0.player.sport|tovariablename }}_logo.png" style="height:50px;"></td>
                                <td>{{ player.0.player.name|title }}</td>
                                <td>{{ player.0.total_points }}</td>
                                <td>{{ player.0.total_rebounds }}</td>
                                <td>{{ player.0.assists }}</td>
                                <td>{{ player.0.game_score }}</td>
                                <td>{{ player.0.player.delta }}</td>
                            </tr> -->
                            {% endif %}
                        {% endfor %}                        
                    <!-- </tbody>
                </table>
            </div> -->
            {% endif %}
        </div>        
    {% else %}
    <div id="introduction-menu">
        <div id="welcome">
        <p>
        Welcome to Venture Sports, where fantasy sports meets Wallstreet. You can <a href="{% url 'market:all_player_stats' %}">browse through our players</a> or <a href="#rules-and-guidelines">continue reading</a> if you would like to read a little bit about how it works.
        
        <a href="#rules-and-guidelines">Read More</a>
        </p>
        
        </div>
        <!-- <div>
            <img src="{% static "market/images/venture_sports_background.png" %}" style="width:339px;float:right;">
            <img src="{% static "market/images/venture_sports_background.png" %}" style="width:339px;float:right;">
        </div> -->
        <div id="rules-and-guidelines">
            <p>
            Players are assigned prices, based on how they have performed. The market opens at 9am ET, when you can buy shares of a player, remember it's the same buy-low/sell-high mentality as wallstreet, so you want to snag the players after a bad game or you can try to choose a player who you think has been underrated the whole season and is primed for a breakout. Once you think the player has peaked simply sell him and watch you're money grow!<a href="#fantasy-rules">Fantasy Mode</a> <a href="#investor-rules">Investor Mode</a>
            </p>
        </div>
        <div id="fantasy-rules">
            <p>
            In fantasy mode, you are given a $10,000 credit to use. You can compete against friends, try to get on the leaderboard, or just practice until you think you're ready for the big leagues. The money has no real value, so it's just for fun. <a href="{$ url 'market:signup' %}">Create an Account</a>
            </p>
        </div>
        <div id="investor-rules">
            <p>
            Coming Soon! In investor mode, the stakes are raised and there's opportunity to make real money. You start from scratch and deposit money from you're paypal or bank account, and try to build up your portfolio.
            </p>
        </div>
    </div>
    {% endif %}
    
    

<style type="text/css">
body {
    background-color: {{ primary_design_color }}; /*#c6c6ee;*/
    margin: 0;
    padding: 0;
    width:100%;

}

#everything-container {
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
}

@media only screen and (min-width:1000px) /* make sure this is good, because it's a balagan by the chrome debugger */
{
    #everything-container {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }
}

#main-and-graph-container {
    width: 100%;
    height: 500px;
    margin-bottom: 20px;
}

#graph-dynamic-price-container {
    float: left;
    width: 90%;
    height: 100px;
    margin-left: 10%;
    color: {{ secondary_design_color }};
}

@media only screen and (min-width:1000px) /* make sure this is good, because it's a balagan by the chrome debugger */
{
    #graph-dynamic-price-container {
        float: left;
        width: 95%;
        height: 60px;
        margin-left: 5%;
        color: {{ secondary_design_color }};
    }
}

#graph-dynamic-price {
    width: 100%;
    height: 100%;
    font-size: 4.5em;
}

@media only screen and (min-width:1000px) /* make sure this is good, because it's a balagan by the chrome debugger */
{
    #graph-dynamic-price {
        width: 100%;
        height: 100%;
        font-size: 3em;
    }
}



/*#main-container-below-price {
    width: 100%;
    height: 500px;
    margin-bottom: 20px;
}*/


#list-group-container {
    float: left;
    width: 98%;
    height: 470px; /* plusses and minuses to this being 100%, as opposed to a fixed px */

    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 20px;
    border-radius: 5px;
    overflow: hidden; /* this is so that the last watchlist item on hover, doesn't overflow the border-radius to become just regular corners */
    background-color: {{ primary_design_color }};
    color: {{ secondary_design_color }};
    position: relative;
    box-shadow: 0px 0px 10px black; /* range from 0 - 1 */ /* 0px 8px 16px 0px rgba(0,0,0,1); */
}

@media only screen and (min-width:1000px) /* make sure this is good, because it's a balagan by the chrome debugger */
{
    #list-group-container {
        float: left;
        width: 33%;
        margin-left: 0%;
        margin-right: 0%;
        height: 470px; /* plusses and minuses to this being 100%, as opposed to a fixed px */
        border-radius: 5px;
        overflow: hidden; /* this is so that the last watchlist item on hover, doesn't overflow the border-radius to become just regular corners */
        background-color: {{ primary_design_color }};
        color: {{ secondary_design_color }};
        position: relative;
        box-shadow: 0px 0px 10px black; /* range from 0 - 1 */ /* 0px 8px 16px 0px rgba(0,0,0,1); */
    }
}

#list-group-contents {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    /*position: absolute;*/
    /*top: 0;*/
    /*bottom: 0;*/
    /*left: 0;*/
    /*right: -17px;*/
    /*margin-left: 10px;
    /*margin-right: 10px;*/
}

/* from https://stackoverflow.com/questions/16670931/hide-scroll-bar-but-while-still-being-able-to-scroll */
#list-group-contents::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

#stock-psa-message {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20px;
}

@media only screen and (min-width:1000px) /* make sure this is good, because it's a balagan by the chrome debugger */
{
    #stock-psa-message {
        width: 75%;
        margin-left: 15%;
        margin-right: 10%;
        margin-top: 20px;
    }
}




#suggested-stocks-container {
    float: left;
    width: 100%;
    height: 300px;
    margin-top: 20px;
    /*margin-left: 5%;*/
    /*margin-right: 5%;*/
}

@media only screen and (min-width:1000px) /* make sure this is good, because it's a balagan by the chrome debugger */
{
    #suggested-stocks-container {
        float: left;
        width: 90%;
        height: 300px;
        margin-top: 10px;
        margin-left: 5%;
        margin-right: 5%;
    }
}

#suggested-player-card {
    width:100%;
    height:205px;
    margin-left:0px;
    margin-right:0px;
}

@media only screen and (min-width:1000px)
{
    #suggested-player-card {
        width:100%;
        height:75px;
        margin-left:0px;
        margin-right:0px;
    }
}

#suggested-card-image-container {
    height: 205px;
}

@media only screen and (min-width:1000px)
{
    #suggested-card-image-container {
        height: 75px;
    }
}

#suggested-player-image {
    width: 270px;
}

@media only screen and (min-width:1000px)
{
    #suggested-player-image {
        width: 105px;
    }
}

#share-group-header {
    /*border-top-left-radius:10px;
    border-top-right-radius:10px;*/
    border-top: 0px solid black;
}
.header-group-item {
    /*border-top: 1px solid #363636; 
    border-bottom: 1px solid #363636;*/
}

.header-group-item h5 {
    /*text-align: center;*/
    /*height: 34px;*/
    margin-left: 10px;
    margin-top: 12px;
    /*vertical-align: middle;*/
    font-size: 2em;
}

@media only screen and (min-width:1000px) /* make sure this is good, because it's a balagan by the chrome debugger */
{
    .header-group-item h5 {
        /*text-align: center;*/
        /*height: 34px;*/
        margin-left: 10px;
        margin-top: 12px;
        /*vertical-align: middle;*/
        font-size: 1.5em;

    }
}

.empty-group-header {
    float: left;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.empty-group-header h3 {
    float: left;
    width: 100%;
    font-size: 2.5em;
}

@media only screen and (min-width:1000px) /* make sure this is good, because it's a balagan by the chrome debugger */
{
    .empty-group-header h3 {
        font-size: 1.5em;

    }
}

.list-item {
    float: left;
    width: 100%;
    height: 85px;
    position: relative; /* must be relative so that only the div - and nothing outside it - is the a tag link clickable */
    /*margin-right: -17px;*/
    /*box-sizing: border-box;*/
}

@media only screen and (min-width:1000px) /* make sure this is good, because it's a balagan by the chrome debugger */
{
    .list-item {
        height: 50px;
    }
}

/* taken from https://stackoverflow.com/questions/796087/make-a-div-into-a-link */
.list-item a span {
  position:absolute; 
  width:100%;
  height:100%;
  top:0;
  left: 0;
  z-index: 1;
  /* fixes overlap error in IE7/8, 
     make sure you have an empty gif */
  background-image: url('empty.gif');
}

.share-group-item:hover {
    background-color: {{ primary_hover_color }};
}

.watchlist-group-item:hover {
    background-color: {{ primary_hover_color }};
}

.stock-name {
    float: left;
    width: 50%; /* was 60, when the graph was implemented, right now happens to be the minimum to hold 12 character in custom_tags.py at all levels */
    height: 100%;
    margin-left: 10px;
}

@media only screen and (min-width:1000px) /* make sure this is good, because it's a balagan by the chrome debugger */
{
    .stock-name {
        float: left;
        width: 35%; /* right now happens to be the minimum to hold 12 character in custom_tags.py at all levels */
        height: 100%;
        margin-left: 10px;
    }
}

.stock-name p {
    float: left;
    width: 47%;
    /*height: 100%;*/

    margin-bottom: 0%;
    margin-right: 0%;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 2.5em;
}

@media only screen and (min-width:1000px) /* make sure this is good, because it's a balagan by the chrome debugger */
{
    .stock-name p {
        /*float: left;*/
        width: 100%;
        /*height: 100%;*/
        margin-bottom: 1px;
        font-size: 1em;
    }
}

.stock-data {
    float: left;
    width: 23%;
    height: 100%;
    margin-right: 10%;
    font-size: 2.5em;
}

@media only screen and (min-width:1000px) /* make sure this is good, because it's a balagan by the chrome debugger */
{
    .stock-data {
        float: left;
        width: 35%;
        height: 100%;
        font-size: 1em;
    }
}

.stock-price {
    float: left;
    width: 10%;
    height: 100%;
    text-align: center;
    font-size: 2.5em;
}

@media only screen and (min-width:1000px) /* make sure this is good, because it's a balagan by the chrome debugger */
{
    .stock-price {
        float: left;
        width: 10%;
        height: 100%;
        text-align: center;
        font-size: 1em;

    }
}

.stock-price p {
    font-size: 1em;
}







#table-and-extras-container {
    float: left;
    width: 100%;
    /*margin-left: 20px;*/
    /*margin-right: 20px;*/
}

#statistics-table-container {
    width: 100%;
    /*margin-left: 20px;*/
    /*margin-right: 20px;*/
}

table {
    background-color: {{ secondary_design_color }};
    color: {{ primary_design_color }};
    border-radius: 5px;
    border: 1px solid {{ primary_design_color }};
    overflow: hidden;
    text-align: center;
    border-collapse: collapse;
    width: 100%;
    box-shadow: 0px 0px 10px black; /* range from 0 - 1 */ /* 0px 8px 16px 0px rgba(0,0,0,1); */

}
td:first {
    width: 10%;
}

td:nth-child(2) {
    width: 30%;
}

td:nth-child(3) {
    width: 15%;
}

td:nth-child(4) {
    width: 15%;
}

td:nth-child(5) {
    width: 15%;
}

td:nth-child(6) {
    width: 15%;
}






#top-mover-container {
    float: left;
    width: 100%;
    height: 850px;
    /*margin-left: 10%;*/
    /*margin-right: 10%;*/
    position: relative;
}

@media only screen and (min-width:1000px) /* make sure this is good, because it's a balagan by the chrome debugger */
{
    #top-mover-container {
        float: left;
        width: 65%;
        margin-left: 2%;
        /*margin-right: 0%;*/
        height: 100%;
        position: relative;
    }
}

#top-mover-contents {
    width: 100%;
    height: 100%;
    /*overflow: hidden;*/
    /*display: flex;*/
    /*flex-flow: column wrap;*/
    position: absolute;
    top: 0;
    right: 0;
    /*float: right;*/
}

/*.player-card {
    height: 22%;
    width: 48%;
}*/

#temp-header {
    float: left;
    width: 100%;
    background-color: {{ secondary_design_color }};
    position: sticky;
    top: 0;
}

#temp-header img {
    float: left;
    width: 100px;
    margin-left: 20px;
}

#temp-header button {
    float: right;
    /*width: 100px;*/
    margin: 20px;
    background-color: {{ primary_design_color }};
    color: {{ secondary_design_color }};
}

#introduction-menu {
    float: left;
    width: 100%;
    /*margin-left: 5%;*/
    /*margin-right: 5%;*/
}

@media only screen and (min-width:1000px) /* make sure this is good, because it's a balagan by the chrome debugger */
{
    #introduction-menu {
        float: left;
        width: 100%;
        /*margin-left: 5%;*/
        /*margin-right: 5%;*/
    }
}

#introduction-menu p {
    font-size: 4em;
}

@media only screen and (min-width:1000px) /* make sure this is good, because it's a balagan by the chrome debugger */
{
    #introduction-menu p {
        font-size: 3em;
    }
}


#welcome {
    /*display: block;*/
    float:left;
    width: 100%;
    height: 1200px;
    /*font-size: 35px;*/
    background-color: {{ primary_design_color }};
    color: {{ secondary_design_color }};

}

@media only screen and (min-width:1000px) /* make sure this is good, because it's a balagan by the chrome debugger */
{
    #welcome {
        float:left;
        width: 100%;
        height: 700px;
        /*font-size: 35px;*/
        background-color: {{ primary_design_color }};
        color: {{ secondary_design_color }};

    }
}

#welcome button {
    background-color: {{ secondary_design_color }};
    color: {{ primary_design_color }};
}

#rules-and-guidelines {
    float: left;
    width: 100%;
    height: 2200px;
    background-color: {{ secondary_design_color }};
    /*font-size: 25px;*/
    color: {{ primary_design_color }};
}

@media only screen and (min-width:1000px) /* make sure this is good, because it's a balagan by the chrome debugger */
{
    #rules-and-guidelines {
        float: left;
        width: 100%;
        height: 1000px;
        /*font-size: 35px;*/
        background-color: {{ secondary_design_color }};
        color: {{ primary_design_color }};
    }
}
#fantasy-rules {
    float: left;
    width: 100%;
    height: 800px;
    background-color: {{ primary_design_color }};
    /*font-size: 25px;*/
    color: {{ secondary_design_color }};
}

@media only screen and (min-width:1000px) /* make sure this is good, because it's a balagan by the chrome debugger */
{
    #fantasy-rules {
        float:left;
        width: 100%;
        height: 500px;
        /*font-size: 35px;*/
        background-color: {{ primary_design_color }};
        color: {{ secondary_design_color }};
    }
}

#investor-rules {
    float: left;
    width: 100%;
    height: 800px;
    background-color: {{ secondary_design_color }};
    /*font-size: 25px;*/
    color: {{ primary_design_color }};
}

@media only screen and (min-width:1000px) /* make sure this is good, because it's a balagan by the chrome debugger */
{
    #investor-rules {
        float:left;
        width: 100%;
        height: 500px;
        /*font-size: 35px;*/
        background-color: {{ secondary_design_color }};
        color: {{ primary_design_color }};
    }
}

</style>
    <script type="text/javascript">
    window.onload = function() {
        // if({{ user }}) {
        // {% if user.is_authenticated %}
            var js_share_stats_array = {{ share_stats_array|safe }};
            var js_watchlist_stats_array = {{ watchlist_stats_array|safe }};
            // for(var i = 0; i < js_share_stats_array.length; i++) {
            //     console.log(js_share_stats_array[i]);
            //     var containerId = "#share-data-" + i.toString();
            //     drawSideGraph(JSON.parse(js_share_stats_array[i]), 100, 25, containerId, "", "season");
            // }
            // for(var i = 0; i < js_watchlist_stats_array.length; i++) {
            //     console.log(js_watchlist_stats_array[i]);
            //     var containerId = "#watchlist-data-" + i.toString();
            //     drawSideGraph(JSON.parse(js_watchlist_stats_array[i]), 100, 25, containerId, "", "season");
            // }
            // drawDayGraph("", 750, 300, "#graph-container", "#account-money-display", "season");
        // }
        // {% endif %}
        // addGraphButtons();
    }


// can be found at https://www.tutorialspoint.com/d3js/d3js_graphs.htm

// set the dimensions and margins of the graph
function drawDayGraph(data, rawWidth, rawHeight, graphAppendingElementString, priceAppendingElementString, graphRange) {
  console.log('in draw day graph function');
  $(graphAppendingElementString).empty();
  var data = [{"fields":{"game_date":"2006-05-04T05:00:00Z", "game_score":40},"year":2006, "population":40},{"fields":{"game_date":"2008-05-04T05:00:00Z", "game_score":40},"year":2008, "population":45},{"fields":{"game_date":"2010-05-04T05:00:00Z", "game_score":40},"year":2010, "population":48},{"fields":{"game_date":"2012-05-04T05:00:00Z", "game_score":40},"year":2012, "population":51},{"fields":{"game_date":"2014-05-04T05:00:00Z", "game_score":40},"year":2014, "population":53},{"fields":{"game_date":"2016-05-04T05:00:00Z", "game_score":40},"year":2016, "population":57},{"fields":{"game_date":"2017-05-04T05:00:00Z", "game_score":40},"year":2017, "population":62}];
  console.log(data.length);
  // var graphData = JSON.stringify(tmp);
  // var data = {{ player_historical_stats_career_json|safe }};
  console.log(data);
         var margin = {top: 25, right: 20, bottom: 30, left: 20}, // var margin = {top: 20, right: 20, bottom: 30, left: 50}, used for the margin of the graph, possibly keep it so that axes aren't affected
         
         width = rawWidth - margin.left - margin.right, // originally 960
         height = rawHeight - margin.top - margin.bottom; // originally 500

         // set the ranges
         var x = d3.scaleTime().range([0, width]);
         var y = d3.scaleLinear().range([height, 0]);

         // define the line
         var valueline = d3.line()
            .x(function(d) { return x(new Date(d.fields.game_date.split("T")[0].split("-")[0], d.fields.game_date.split("T")[0].split("-")[1], d.fields.game_date.split("T")[0].split("-")[2])); })
            .y(function(d) { return y(parseFloat(d.fields.game_score)); });

         // append the svg obgect to the body of the page
         // appends a 'group' element to 'svg'
         // moves the 'group' element to the top left margin
         var svg = d3.select(graphAppendingElementString).append("svg")
            .attr("width", width + margin.left + margin.right)
            .attr("height", height + margin.top + margin.bottom)
            .append("g").attr("transform",
               "translate(" + margin.left + "," + margin.top + ")");

          // console.log("{% static "market/data.csv" %}");
//           d3.csv("{% static "market/data.csv" %}").then(function(data) {
//   console.log(data);
// });
         // Get the data
         // d3.csv("{% static "market/data.csv" %}").then(function(data) {
            // console.log(data);
            // if (error) throw error;
            console.log(data);
            // format the data
            data.forEach(function(d) {
               yea = d.fields.game_date;
               p = +d.fields.game_score;
               // d = {};
               d.year = new Date(d.fields.game_date.split("T")[0].split("-")[0], d.fields.game_date.split("T")[0].split("-")[1], d.fields.game_date.split("T")[0].split("-")[2]);
               d.population = +parseFloat(d.fields.game_score);
               // d = {"year":"h", "pop":"pp"};
            });

            // Scale the range of the data
            x.domain(d3.extent(data, function(d) { return d.year; }));
            y.domain([d3.min(data, function(d) { return d.population; }), d3.max(data, function(d) { return d.population; })]);

            // Add the valueline path.
            svg.append("path")
               .data([data])
               .attr("class", "line")
               .attr("d", valueline);

            // Add the X Axis
            svg.append("g")
               .attr("transform", "translate(0," + height + ")")
               .call(d3.axisBottom(x).ticks(8).tickFormat(d3.timeFormat("%d-%b-%Y")));

            // Add the Y Axis
            svg.append("g")
               .call(d3.axisLeft(y));
// the text stuff and another version of the mouseover price and legend can be found at https://bl.ocks.org/micahstubbs/e4f5c830c264d26621b80b754219ae1b

      //          svg.append('g')
      // .attr('class', 'y axis axis--y')
      // .call(d3.axisLeft(y))
      // .append('text')
      //   .attr('class', 'axis-title')
      //   .attr('transform', 'rotate(-90)')
      //   .attr('y', 6)
      //   .attr('dy', '.71em')
      //   .style('text-anchor', 'end')
      //   .text('Price ($)');
         



// can be found at https://www.freecodecamp.org/news/how-to-build-historical-price-charts-with-d3-js-72214aaf6ba3/


         const focus = svg
  .append('g')
  .attr('class', 'focus')
  .style('display', 'none');
focus.append('circle').attr('r', 4.5);
focus.append('line').classed('x', true);
focus.append('line').classed('y', true);
svg
  .append('rect')
  .attr('class', 'overlay')
  .attr('width', width)
  .attr('height', height)
  .on('mouseover', () => focus.style('display', null))
  .on('mouseout', () => focus.style('display', 'none'))
  .on('mousemove', generateCrosshair);
d3.select('.overlay').style('fill', 'none');
d3.select('.overlay').style('pointer-events', 'all');
d3.selectAll('.focus line').style('fill', 'none');
d3.selectAll('.focus line').style('stroke', 'blue'); //#67809f
d3.selectAll('.focus line').style('stroke-width', '1.5px');
d3.selectAll('.focus line').style('stroke-dasharray', '3 3');


d3.selectAll('.line').style('fill', 'none');
if(parseFloat(data[data.length-2].fields.game_score) > parseFloat(data[data.length-1].fields.game_score)) {
  d3.selectAll('.line').style('stroke', 'red');
} else {
  d3.selectAll('.line').style('stroke', 'green');
}

d3.selectAll('.line').style('stroke-width', '3px');


focus.append('text')
      .attr('x', -40)
      .attr('y', -20)
      .attr('dy', '.35em');

const bisectDate = d3.bisector(d => d.year).left;
function generateCrosshair() {
  //returns corresponding value from the domain
  const correspondingDate = x.invert(d3.mouse(this)[0]);
  //gets insertion point
  const i = bisectDate(data, correspondingDate, 1);
  const d0 = data[i - 1];
  const d1 = data[i];
  const currentPoint = correspondingDate - d0['year'] > d1['year'] - correspondingDate ? d1 : d0;
  
  focus.attr('transform',`translate(${x(currentPoint['year'])},     ${y(currentPoint['population'])})`);
focus
  .select('line.x')
  .attr('x1', 0)
  .attr('x2', -x(currentPoint['year'])) //width - x(currentPoint['year'] makes the dash go to the right instead of to the left towards the axis
  .attr('y1', 0)
  .attr('y2', 0);
focus
  .select('line.y')
  .attr('x1', 0)
  .attr('x2', 0)
  .attr('y1', 0)
  .attr('y2', height - y(currentPoint['population'])); //height - y(currentPoint['population']
  focus.select('text').text(currentPoint['fields']['game_date']);

 updateLegends(currentPoint);
}





const updateLegends = currentData => {
  d3.selectAll('.lineLegend').remove();
  const legendKeys = Object.keys(data[0]);
  console.log(legendKeys);
  const lineLegend = svg
    .selectAll('.lineLegend')
    .data(legendKeys)
    .enter()
    .append('g')
    .attr('class', 'lineLegend')
    .attr('transform', (d, i) => {
      return `translate(0, ${i * 20})`;
    });
  lineLegend
    .append('text')
    .text(d => {
      if (d === 'year') {
        console.log('year');
        return `${d}: ${currentData[d]}`;
      } else if ( d === 'population') {
        console.log('pop');

        return `${d}: ${currentData[d]}`;
      } else {
        return `${d}: ${currentData[d]}`;
      }
    })
    .style('fill', 'black')
    .attr('transform', 'translate(15,9)');
    $(priceAppendingElementString).text(currentData["fields"]["game_score"]);

  };
// });

}


// set the dimensions and margins of the graph
function drawSideGraph(data, rawWidth, rawHeight, graphAppendingElementString, priceAppendingElementString, graphRange) {
    console.log('in draw side graph function');
    $(graphAppendingElementString).empty();
    console.log(data);
    var margin = {top: 0, right: 0, bottom: 0, left: 0},
    width = rawWidth - margin.left - margin.right,
    height = rawHeight - margin.top - margin.bottom;
    // set the ranges
    var x = d3.scaleTime().range([0, width]);
    var y = d3.scaleLinear().range([height, 0]);
    // define the line
    var valueline = d3.line().x(function(d) { return x(new Date(d.fields.game_date.split("T")[0].split("-")[0], d.fields.game_date.split("T")[0].split("-")[1], d.fields.game_date.split("T")[0].split("-")[2])); }).y(function(d) { return y(parseFloat(d.fields.game_score)); });
    var svg = d3.select(graphAppendingElementString).append("svg").attr("width", width + margin.left + margin.right).attr("height", height + margin.top + margin.bottom).append("g").attr("transform","translate(" + margin.left + "," + margin.top + ")");
    // format the data
    data.forEach(function(d) {
        // yea = d.fields.game_date;
        // p = +d.fields.game_score;
        d.year = new Date(d.fields.game_date.split("T")[0].split("-")[0], d.fields.game_date.split("T")[0].split("-")[1], d.fields.game_date.split("T")[0].split("-")[2]);
        d.population = +parseFloat(d.fields.game_score);
    });
    // Scale the range of the data
    x.domain(d3.extent(data, function(d) { return d.year; }));
    y.domain([d3.min(data, function(d) { return d.population; }), d3.max(data, function(d) { return d.population; })]);
    var lineClass = graphAppendingElementString.substring(1) + "line";
    // Add the valueline path.
    svg.append("path").data([data]).attr("class", lineClass).attr("d", valueline);
    d3.selectAll('.' + lineClass).style('fill', 'none');
    if(parseFloat(data[data.length-2].fields.game_score) > parseFloat(data[data.length-1].fields.game_score)) {
        d3.selectAll('.' + lineClass).style('stroke', 'red');
    } else {
        d3.selectAll('.' + lineClass).style('stroke', 'green');
    }
    d3.selectAll('.' + lineClass).style('stroke-width', '1px');
}


function addGraphButtons() {
  var oneDayButton = document.createElement("BUTTON");
  oneDayButton.innerHTML = "1D";
  oneDayButton.id = 'one-day-button'
  document.body.appendChild(oneDayButton);
  oneDayButton.addEventListener("click", function (e) {
    drawDayGraph();
  });

  var oneWeekButton = document.createElement("BUTTON");
  oneWeekButton.innerHTML = "1W";
  oneWeekButton.id = 'one-week-button'
  document.body.appendChild(oneWeekButton);
  oneWeekButton.addEventListener("click", function (e) {
    drawDayGraph();
  });

  var oneMonthButton = document.createElement("BUTTON");
  oneMonthButton.innerHTML = "1M";
  oneMonthButton.id = 'one-month-button'
  document.body.appendChild(oneMonthButton);
  oneMonthButton.addEventListener("click", function (e) {
    drawDayGraph();
  });

  var oneYearButton = document.createElement("BUTTON");
  oneYearButton.innerHTML = "1Y";
  oneYearButton.id = 'one-year-button'
  document.body.appendChild(oneYearButton);
  oneYearButton.addEventListener("click", function (e) {
    drawDayGraph();
  });
}

    </script>
  </body>

</html>
