<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <!-- http://www.javierusobiaga.com/blog/stop-using-the-viewport-tag-until-you-know-ho/ -->
        <!-- <meta name="viewport"  content="width=device-width" /> -->
        <title>{{ player.name|title }}</title>
        {% load static %}
        <link rel="icon" href="{% static "market/images/other/venture_sports_primary_logo.png" %}">
        <link rel="stylesheet" type="text/css" href="{% static "market/main.css" %}">
        <script src="{% static "market/fuse.js" %}"></script>
        <script src="{% static "market/d3.js" %}"></script>
        {% load custom_tags %}
    </head>
    <body>
        {% include "market/header.html" with user=user scheduled_games=scheduled_games list_of_names=list_of_names %}
        {# player_historical_stats_json #}
        <div id="individual-player-container" style="background: linear-gradient(to right, {{ player.team.primary_color }} 0%, transparent 50%, transparent 100%) no-repeat,#404040;">
            <div id="individual-player-image-container">
                <img id="individual-player-league-image" src="/static/market/images/other/{{ player.sport }}_logo.png">
                <!-- <img id="individual-player-team-image" src="/static/market/images/teams/{{ player.sport }}_teams/{{ player.team.full_name|tovariablename }}.png"> -->
                <img id="individual-player-player-image" src="/static/market/images/players/{{ player.sport }}/{{ player.name|tovariablename }}.png" style="background: url('/static/market/images/teams/{{ player.sport }}_teams/{{ player.team.full_name|tovariablename }}.png');background-size:100%;">
            </div>
            <div id="individual-player-details-container">
                <div id="individual-player-header-container">
                    <h1>{{ player.name|title }}</h1>
                    <h2>${{ player.current_price|todollarsandcents }}</h2>
                    {% if player.delta >= 0 %}
                        <h4 class="positive">+${{ player.delta|todollarsandcents }} (%{{ player.delta|delta_percentage:player.current_price }})</h4>
                    {% else %}
                        <h4 class="negative">-${{ player.delta|absolute_value|todollarsandcents }} (%{{ player.delta|delta_percentage:player.current_price|absolute_value }})</h4>
                    {% endif %}
                    <h3></h3>
                    <!-- <h4 style="font-size:2em;">Playing Against: {{ player.team.next_opponent.full_name|title }}</h4> -->
                </div>
                <div id="individual-player-statistics-container">
                    <div id="individual-player-statistics-image">
                        <img src="/static/market/images/teams/{{ player.sport }}_teams/{{ player.team.full_name|tovariablename }}.png">
                    </div>
                    <div id="individual-player-statistics-text-container">
                        <p>{{ player.position|title }} | #{{ player.number }}</p>
                        <p>{{ player.height }}</p>
                        <p>{{ player.weight }}</p>
                    </div>
                    <table>
                        <thead>
                            <tr>
                            {% if player.sport|lower == "nba" %}
                                <th>PPG</th>
                                <th>RPG</th>
                                <th>APG</th>
                            {% elif player.sport|lower == "mlb" %}
                                {% if player.position|lower == "p" %}
                                <th>ERA</th>
                                <th>K/9</th>
                                <th>WHIP</th>
                                {% else %}
                                <th>BA</th>
                                <th>RBI</th>
                                <th>HR</th>
                                {% endif %}
                            {% else %}
                                {% if player.position|lower == "qb" %}
                                <th>YPG</th>
                                <th>TD</th>
                                <th>INT</th>
                                {% elif player.position|lower == "rb" %}
                                <th>YPG</th>
                                <th>TD</th>
                                <th>F</th>
                                {% elif player.position|lower == "wr" or player.position|lower == "te" %}
                                <th>YPG</th>
                                <th>REC</th>
                                <th>TD</th>
                                {% else %}
                                <th>TKL</th>
                                <th>INT</th>
                                <th>S</th>
                                {% endif %}
                            {% endif %}
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                            {% if player.sport|lower == "nba" %}
                            {% for stat in player_current_stats_dict %}
                            {% if stat.stat_name == "nba_total_points" %}
                                <td>{{ stat.stat_value }}</td>
                            {% endif %}
                            {% if stat.stat_name == "nba_total_rebounds" %}
                                <td>{{ stat.stat_value }}</td>
                            {% endif %}
                            {% if stat.stat_name == "nba_assists" %}
                                <td>{{ stat.stat_value }}</td>
                            {% endif %}
                            {% endfor %}
                            {% elif player.sport|lower == "mlb" %}
                                {% if player.position|lower == "p"%}
                                <td>{{ player_current_stats_dict.mlb_earned_run_average.stat_value }}</td>
                                <td>{{ player_current_stats_dict.mlb_wins.stat_value }}</td>
                                <td>{{ player_current_stats_dict.mlb_strikeouts.stat_value }}</td>
                                {% else %}
                                <th>BA</th>
                                <th>RBI</th>
                                <th>HR</th>
                                {% endif %}
                            {% else %}
                                {% if player.position|lower == "qb" %}
                                <td>{{ player_current_stats_dict.nfl_passing_yards.stat_value }}</td>
                                <td>{{ player_current_stats_dict.nfl_passing_touchdowns.stat_value }}</td>
                                <td>{{ player_current_stats_dict.nfl_interceptions.stat_value }}</td>
                                {% elif player.position|lower == "rb" %}
                                <td>{{ player_current_stats_dict.nfl_rushing_yards.stat_value }}</td>
                                <td>{{ player_current_stats_dict.nfl_rushing_touchdowns.stat_value }}</td>
                                <td>{{ player_current_stats_dict.nfl_fumbles.stat_value }}</td>
                                {% elif player.position|lower == "wr" or player.position|lower == "te" %}
                                <td>{{ player_current_stats_dict.nfl_receiving_yards.stat_value }}</td>
                                <td>{{ player_current_stats_dict.nfl_receptions.stat_value }}</td>
                                <td>{{ player_current_stats_dict.nfl_receiving_touchdowns.stat_value }}</td>
                                {% else %}
                                <td>{{ player_current_stats_dict.nfl_total_tackles.stat_value }}</td>
                                <td>{{ player_current_stats_dict.nfl_defensive_interceptions.stat_value }}</td>
                                <td>{{ player_current_stats_dict.nfl_sacks.stat_value }}</td>
                                {% endif %}
                            {% endif %}
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
                    {# player_current_stats_dict #}
                    {#player.player_current_stats.all#}

        <div id="player-and-graph-container">
            <!-- <div id="graph-with-extras-container">
                <div id="graph-dynamic-price-container">
                    <h1 id="graph-dynamic-price">$0.0</h1>
                </div>
                <div id="graph-container"></div>
                <div id="graph-buttons-container">
                    <div id="graph-buttons-content"></div>
                </div>
            </div> -->
            <div id="buy-sell-container">
                <div id="buy-sell-header-container">
                    <h4 id="buy-toggle-button">Buy</h4>
                    {% if selected_player_share %}
                    <h4 id="sell-toggle-button">Sell</h4>
                    {% endif %}
                </div>
                <div id="buy-sell-body-container">
                    {# if user.is_authenticated #}
                    <form action="{% url 'market:buy' player.id %}" method="post">
                    {# else #}
                    <!-- <form action="{% url 'market:index' %}" method="get"> -->
                    {# endif #}
                    {% csrf_token %}
                        <!-- <div id="buy-sell-name">
                        <p>{{ player.name }}</p>
                        </div>
                        <br> -->
                        <input type="hidden" name="player_id" value="{{ player.id }}">
                        <input id="buy-sell-hidden-number-of-shares" type="hidden" name="number_of_shares" value="0">
                        <div id="buy-sell-number-of-shares-container">
                            <p class="buy-sell-title" style="margin-top:10px;">Shares</p>
                            <input id="buy-sell-number-of-shares-input" class="buy-sell-detail" type="text" name="number_of_shares" placeholder="0">
                        </div>
                            <input id="buy-sell-hidden-per-share-price" type="hidden" name="per_share_price" value="{{ player.current_price }}">
                        <div id="buy-sell-price-per-share-container">
                            <p id="buy-sell-price-per-share-title" class="buy-sell-title">Price</p>
                            <p id="buy-sell-price-per-share-detail" class="buy-sell-detail">${{ player.current_price|todollarsandcents }}</p>
                            <!-- TODO decide what this should be, where it should be stored, and add it -->
                        </div>
                        <input id="buy-sell-hidden-total-price" type="hidden" name="total_price" value="0">
                        <div id="buy-sell-total-price-container">
                            <p id="buy-sell-total-price-title" class="buy-sell-title">Total Price</p>
                            <p id="buy-sell-total-price-detail" class="buy-sell-detail">$0.00</p>
                        </div>
                        <input id="buy-sell-submit-button" type="submit" value="Buy">
                    </form>
                    {% if user %}
                    {% if is_watchlist_share %}
                    <div id="player-watchlist-add-remove-button-container">
                        <form action="{% url 'market:watchlist_remove' player.id %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="player_id" value="{{ player.id }}">
                            <input id="player-watchlist-add-remove-button" type="submit" value="Remove From Watchlist">
                        </form>
                    </div>
                    {% else %}
                    <div>
                        <form action="{% url 'market:watchlist_add' player.id %}" method="post">
                        {% csrf_token %}
                            <input type="hidden" name="player_id" value="{{ player.id }}">
                            <input id="player-watchlist-add-remove-button" type="submit" value="Add To Watchlist">
                        </form>
                    </div>
                    {% endif %}
                    {% endif %}
                </div>
            </div>
        <!-- <div id="share-and-relevant-info-container"> -->
            {% if user.is_authenticated %}
            {% if is_owned_share %}
            <div id="owned-share-info-container" style="background: {{ secondary_design_color }};color:{{primary_design_color}}">
                <div>
                    <h4>Current market value</h4>
                    <h3>${{ player.current_price|multiply:selected_player_share.number_of_shares|todollarsandcents }}</h3>
                </div>
                <div>
                    <div>
                        <h4>Cost</h4>
                    </div>
                    <div>
                        <h3>${{ selected_player_share.bought_price|multiply:selected_player_share.number_of_shares|todollarsandcents }}</h3>
                    </div>
                </div>
                <hr style="background-color:{{ primary_design_color }};border-top:3px solid {{ primary_design_color }};">
                <div>
                    {% if selected_player_share.bought_price|subtract:player.current_price >= 0 %}
                        <h3 class="positive">${% get_total_cost_difference selected_player_share.bought_price selected_player_share.number_of_shares player.current_price %}</h3>
                        <h3 class="positive">%{{ selected_player_share.bought_price|subtract:player.current_price|percentify  }}</h3>
                    {% else %}
                        <!-- note that the order is backwards, index 1 is before index 0 as opposed to above where it's reverse -->
                        <h3 class="negative">-${% get_total_cost_difference selected_player_share.bought_price selected_player_share.number_of_shares player.current_price %}</h3>
                        <h3 class="negative">-%{{ selected_player_share.bought_price|subtract:player.current_price|percentify  }}</h3>
                    {% endif %}
                </div>
            </div>
            {% endif %}
            {% endif %}
            <div id="top-mover-container">
                <div class="top-mover-contents">
                <h2>Teammates</h2>
                {% for teammate in teammates %}
                    <div class="player-card" style="background: linear-gradient(to right, {{ teammate.team.primary_color }} 0%, transparent 70%, transparent 100%) no-repeat,{{ primary_design_color }};"><!-- what to put as the background fade to color white/black/#404040/#cccccc? -->
                        <a href="{% url 'market:player_detail' teammate.id %}"><span></span></a><!--teammate.0.player.id-->
                        <div class="player-card-contents">
                            <div class="card-image-container"><!-- style="background-color:{{ player.0.player_id.team_color }};background: linear-gradient(to bottom, {{ player.0.player_id.team_color }} 0%, {{ player.0.player_id.team_color }} 38%, transparent 100%) no-repeat,black;"-- ><!-- style="background:url('/static/market/images/teams/{{ player.0.player_id.sport }}_teams/{{ player.0.player_id.team|tovariablename }}.png');background-size:100% 100%;"-->
                                <img src="/static/market/images/players/{{ player.sport }}/{{ teammate.name|tovariablename }}.png" style="background: url('/static/market/images/teams/{{ player.sport }}_teams/{{ player.team.full_name|tovariablename }}.png');background-size:100%;">
                            </div>
                            <div class="card-text-container">
                            {% if teammate.delta >= 0 %}
                                <h2>{{ teammate.name|title|fitword:12  }}</h2>
                                <h3 class="positive">${{ teammate.current_price|todollarsandcents }}</h3>
                                <h4 class="positive">+${{ teammate.delta|todollarsandcents }} (%{{ teammate.delta|delta_percentage:teammate.current_price }})</h4>
                            {% else %}
                                <!-- note that the order is backwards, index 1 is before index 0 as opposed to above where it's reverse -->
                                <h2>{{ teammate.name|title|fitword:12  }}</h2>
                                <h3 class="negative">${{ teammate.current_price|todollarsandcents }}</h3><!---->
                                <h4 class="negative">-${{ teammate.delta|absolute_value|todollarsandcents }} (%{{ teammate.delta|delta_percentage:teammate.current_price|absolute_value }})</h4>
                            {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
                <div class="top-mover-contents">
                <h2>Related Players</h2>
                {% for relevant_player in relevant_players %}
                    <div class="player-card" style="background: linear-gradient(to right, {{ relevant_player.team.primary_color }} 0%, transparent 70%, transparent 100%) no-repeat,{{ primary_design_color }};"><!-- what to put as the background fade to color white/black/#404040/#cccccc? -->
                        <a href="{% url 'market:player_detail' relevant_player.id %}"><span></span></a><!--teammate.0.player.id-->
                        <div class="player-card-contents">
                            <div class="card-image-container"><!-- style="background-color:{{ player.0.player_id.team_color }};background: linear-gradient(to bottom, {{ player.0.player_id.team_color }} 0%, {{ player.0.player_id.team_color }} 38%, transparent 100%) no-repeat,black;"-- ><!-- style="background:url('/static/market/images/teams/{{ player.0.player_id.sport }}_teams/{{ player.0.player_id.team|tovariablename }}.png');background-size:100% 100%;"-->
                                <img src="/static/market/images/players/{{ player.sport }}/{{ relevant_player.name|tovariablename }}.png" style="background: url('/static/market/images/teams/{{ relevant_player.sport }}_teams/{{ relevant_player.team.full_name|tovariablename }}.png');background-size:100%;">
                            </div>
                            <div class="card-text-container">
                            {% if relevant_player.delta >= 0 %}
                                <h2 class="positive">{{ relevant_player.name|title|fitword:12  }}</h2>
                                <h3 class="positive">${{ relevant_player.current_price|todollarsandcents }}</h3>
                                <h4 class="positive">+${{ relevant_player.delta|todollarsandcents }} (%{{ relevant_player.delta|delta_percentage:relevant_player.current_price }})</h4>
                            {% else %}
                                <!-- note that the order is backwards, index 1 is before index 0 as opposed to above where it's reverse -->
                                <h2>{{ relevant_player.name|title|fitword:12  }}</h2>
                                <h3 class="negative">${{ relevant_player.current_price|todollarsandcents }}</h3><!---->
                                <h4 class="negative">-${{ relevant_player.delta|absolute_value|todollarsandcents }} (%{{ relevant_player.delta|delta_percentage:relevant_player.current_price|absolute_value }})</h4>
                            {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
            <!-- </div> -->
        </div>    
    </body>
    <script type="text/javascript">
    window.onload = function() {
        // console.log("{{ is_watchlist_share }}");
        // console.log({{ is_watchlist_share|yesno:"true,false" }});
        var user_is_authenticated = {{ request.user.is_authenticated|yesno:"true,false" }};
        // drawDayGraph({{ player_historical_stats_career_json|safe }}, 1000, 500, "#graph-container", "#graph-dynamic-price", "season");
        // addGraphButtons();
        buySellToggle();
        setInputFilter(document.getElementById("buy-sell-number-of-shares-input"), function(value) {
          return /^\d*$/.test(value); // Allow digits and '.' only, using a RegExp
        });
        setTotalPriceListener();
        if(user_is_authenticated == false) {
            $("#buy-sell-submit-button").click(function(e) {
                e.preventDefault();
                window.location = "{% url 'market:index' %}"; //$(this).data("href");
            });
            $("#player-watchlist-add-remove-button").click(function(e) {
                e.preventDefault();
                window.location = "{% url 'market:index' %}"; //$(this).data("href");
            });
        }
    }



    // can be found at https://www.tutorialspoint.com/d3js/d3js_graphs.htm
    // set the dimensions and margins of the graph
    function drawDayGraph(data, rawWidth, rawHeight, graphAppendingElementString, priceAppendingElementString, graphRange) {
        console.log('in draw day graph function');
        $(graphAppendingElementString).empty();
        // var tmp = [{"year":2006, "population":40},{"year":2008, "population":45},{"year":2010, "population":48},{"year":2012, "population":51},{"year":2014, "population":53},{"year":2016, "population":57},{"year":2017, "population":62}];
        // var graphData = JSON.stringify(tmp);
        // var data = {{ player_historical_stats_career_json|safe }};
        console.log(data);
        var margin = {top: 0, right: 0, bottom: 0, left: 0}, // var margin = {top: 20, right: 20, bottom: 30, left: 50}, used for the margin of the graph, possibly keep it so that axes aren't affected 
        width = rawWidth - margin.left - margin.right, // originally 960
        height = rawHeight - margin.top - margin.bottom; // originally 500

        // set the ranges
        var x = d3.scaleTime().range([0, width]);
        var y = d3.scaleLinear().range([height, 0]);
        // define the line
        var valueline = d3.line()
            .x(function(d) { return x(new Date(d.fields.game_date.split("T")[0].split("-")[0], d.fields.game_date.split("T")[0].split("-")[1], d.fields.game_date.split("T")[0].split("-")[2])); })
            .y(function(d) { return y(parseFloat(d.fields.game_score)); });

        // append the svg obgect to the body of the page
        // appends a 'group' element to 'svg'
        // moves the 'group' element to the top left margin
        var svg = d3.select(graphAppendingElementString).append("svg")
            .attr("width", "100%") // width + margin.left + margin.right
            .attr("height", "100%") // height + margin.top + margin.bottom
            .append("g")//.attr("transform",
               //"translate(" + margin.left + "," + margin.top + ")");

          // console.log("{% static "market/data.csv" %}");
//           d3.csv("{% static "market/data.csv" %}").then(function(data) {
//   console.log(data);
// });
         // Get the data
         // d3.csv("{% static "market/data.csv" %}").then(function(data) {
        // console.log(data);
        // if (error) throw error;
        console.log(data);
        // format the data
        data.forEach(function(d) {
           yea = d.fields.game_date;
           p = +d.fields.game_score;
           // d = {};
           d.year = new Date(d.fields.game_date.split("T")[0].split("-")[0], d.fields.game_date.split("T")[0].split("-")[1], d.fields.game_date.split("T")[0].split("-")[2]);
           d.population = +parseFloat(d.fields.game_score);
           // d = {"year":"h", "pop":"pp"};
        });

        // Scale the range of the data
        x.domain(d3.extent(data, function(d) { return d.year; }));
        y.domain([d3.min(data, function(d) { return d.population; }) - 3, d3.max(data, function(d) { return d.population; }) + 3]);

        // Add the valueline path.
        svg.append("path")
           .data([data])
           .attr("class", "line")
           .attr("d", valueline);

        // Add the X Axis
        svg.append("g")
           .attr("transform", "translate(0," + height + ")")
           .call(d3.axisBottom(x).ticks(8).tickFormat(d3.timeFormat("%d-%b-%Y")));

        // Add the Y Axis
        svg.append("g")
           .call(d3.axisLeft(y));
// the text stuff and another version of the mouseover price and legend can be found at https://bl.ocks.org/micahstubbs/e4f5c830c264d26621b80b754219ae1b

      //          svg.append('g')
      // .attr('class', 'y axis axis--y')
      // .call(d3.axisLeft(y))
      // .append('text')
      //   .attr('class', 'axis-title')
      //   .attr('transform', 'rotate(-90)')
      //   .attr('y', 6)
      //   .attr('dy', '.71em')
      //   .style('text-anchor', 'end')
      //   .text('Price ($)');
         



// can be found at https://www.freecodecamp.org/news/how-to-build-historical-price-charts-with-d3-js-72214aaf6ba3/


        const focus = svg
  .append('g')
  .attr('class', 'focus')
  .style('display', 'none');

        if(parseFloat(data[data.length-2].fields.game_score) > parseFloat(data[data.length-1].fields.game_score)) {
          focus.append('circle').attr('r', 4.5).attr('fill', '{{ secondary_design_color }}').style('stroke', '{{ secondary_design_color }}');;
        } else {
          focus.append('circle').attr('r', 4.5).attr('fill', '{{ positive_color }}').style('stroke', '{{ secondary_design_color }}');;
        }

        // focus.append('circle')
        focus.append('line').classed('x', true);
        focus.append('line').classed('y', true);
        svg
          .append('rect')
          .attr('class', 'overlay')
          .attr('width', width)
          .attr('height', height)
          .on('mouseover', () => focus.style('display', null))
          .on('mouseout', () => focus.style('display', 'none'))
          .on('mousemove', generateCrosshair);
        d3.select('.overlay').style('fill', 'none');
        d3.select('.overlay').style('pointer-events', 'all');
        // d3.selectAll('.focus line').style('fill', 'none');
        // d3.selectAll('.focus line').style('stroke', 'blue'); //#67809f
        // d3.selectAll('.focus line').style('stroke-width', '1.5px');
        // d3.selectAll('.focus line').style('stroke-dasharray', '3 3');


        d3.selectAll('.line').style('fill', 'none');
        if(parseFloat(data[data.length-2].fields.game_score) > parseFloat(data[data.length-1].fields.game_score)) {
          d3.selectAll('.line').style('stroke', '{{ negative_color }}');
        } else {
          d3.selectAll('.line').style('stroke', '{{ positive_color }}');
        }

        d3.selectAll('.line').style('stroke-width', '3px');


        focus.append('text')
              .attr('x', -40)
              .attr('y', -20)
              .attr('dy', '.35em')
              .style('stroke', '{{ secondary_design_color }}');

        const bisectDate = d3.bisector(d => d.year).left;
        function generateCrosshair() {
            //returns corresponding value from the domain
            const correspondingDate = x.invert(d3.mouse(this)[0]);
            //gets insertion point
            const i = bisectDate(data, correspondingDate, 1);
            const d0 = data[i - 1];
            const d1 = data[i];
            const currentPoint = correspondingDate - d0['year'] > d1['year'] - correspondingDate ? d1 : d0;

            focus.attr('transform',`translate(${x(currentPoint['year'])},     ${y(currentPoint['population'])})`);
            focus
              .select('line.x')
              .attr('x1', 0)
              .attr('x2', -x(currentPoint['year'])) //width - x(currentPoint['year'] makes the dash go to the right instead of to the left towards the axis
              .attr('y1', 0)
              .attr('y2', 0);
            focus
              .select('line.y')
              .attr('x1', 0)
              .attr('x2', 0)
              .attr('y1', 0)
              .attr('y2', height - y(currentPoint['population'])); //height - y(currentPoint['population']
              focus.select('text').text(currentPoint['fields']['game_date']);

            updateLegends(currentPoint);
        }
        const updateLegends = currentData => {
            // d3.selectAll('.lineLegend').remove();
            // const legendKeys = Object.keys(data[0]);
            // console.log(legendKeys);
            // const lineLegend = svg
            //   .selectAll('.lineLegend')
            //   .data(legendKeys)
            //   .enter()
            //   .append('g')
            //   .attr('class', 'lineLegend')
            //   .attr('transform', (d, i) => {
            //     return `translate(0, ${i * 20})`;
            //   });
            // lineLegend
            //   .append('text')
            //   .text(d => {
            //     if (d === 'year') {
            //       console.log('year');
            //       return `${d}: ${currentData[d]}`;
            //     } else if ( d === 'population') {
            //       console.log('pop');

            //       return `${d}: ${currentData[d]}`;
            //     } else {
            //       return `${d}: ${currentData[d]}`;
            //     }
            //   })
            //   .style('fill', 'black')
            //   .attr('transform', 'translate(15,9)');
            $(priceAppendingElementString).text('$' + currentData["fields"]["game_score"]);
            $(priceAppendingElementString).css("visibility", "visible");
        };
// });
    }


    function addGraphButtons() {
        var mainContainer = document.getElementById("graph-with-extras-container");
        var buttonsContainer = document.getElementById("graph-buttons-content");
        var dayButtonDiv = createButton({{ player_historical_stats_day_json|safe }}, "day");
        buttonsContainer.appendChild(dayButtonDiv);
        var weekButtonDiv = createButton({{ player_historical_stats_week_json|safe }}, "week");
        buttonsContainer.appendChild(weekButtonDiv);
        var monthButtonDiv = createButton({{ player_historical_stats_month_json|safe }}, "month");
        buttonsContainer.appendChild(monthButtonDiv);
        var seasonButtonDiv = createButton({{ player_historical_stats_season_json|safe }}, "season");
        buttonsContainer.appendChild(seasonButtonDiv);
        var careerButtonDiv = createButton({{ player_historical_stats_career_json|safe }}, "career");
        buttonsContainer.appendChild(careerButtonDiv);
    }


    function createButton(statsData, range) {
        var buttonDiv = document.createElement("div");
        buttonDiv.classList.add("graph-button-div");
        var button = document.createElement("p");
        button.classList.add("button-text");
        button.innerHTML = range.charAt(0).toUpperCase() + range.slice(1);
        button.id = range + '-button';
        buttonDiv.appendChild(button);
        button.addEventListener("click", function (e) {
        drawDayGraph(statsData, 1000, 500, "#graph-container", "#graph-dynamic-price", range);
        });
        return buttonDiv;
    }



    function buySellToggle() {
        var buyButton = document.getElementById("buy-toggle-button");
        var sellButton = document.getElementById("sell-toggle-button");
        var bodyContainer = document.getElementById("buy-sell-body-container");
        buyButton.addEventListener("click", function() {
            $("#buy-sell-body-container").empty();
            sellButton.style.borderBottom = "";
            buyButton.style.borderBottom = "2px solid #cccccc";
            var buySellForm = createBuySellForm("Buy");
            bodyContainer.appendChild(buySellForm);
            var watchlistForm = createWatchlistForm("buy");
            bodyContainer.appendChild(watchlistForm);
            setTotalPriceListener();
        });
        if(sellButton) {
            sellButton.addEventListener("click", function() {
                $("#buy-sell-body-container").empty();
                buyButton.style.borderBottom = "0px solid #cccccc"; // cheat, because if you just put "" the standard css will override it
                sellButton.style.borderBottom = "2px solid #cccccc";
                var buySellForm = createBuySellForm("Sell");     
                bodyContainer.appendChild(buySellForm);
                var watchlistForm = createWatchlistForm("sell");
                bodyContainer.appendChild(watchlistForm);
                setTotalPriceListener();
            });
        }
    }

    function createBuySellForm(buySell) {
        var formEl = document.createElement("form");
        if(buySell == "Buy") {
            formEl.action = "{% url 'market:buy' player.id %}";
        } else {
            formEl.action = "{% url 'market:sell' player.id %}";
        }
        formEl.method = "post";
        var inputElem = document.createElement('input');
        inputElem.type = 'hidden';
        inputElem.name = 'csrfmiddlewaretoken';
        inputElem.value = '{{ csrf_token }}';
        formEl.appendChild(inputElem);
        var hiddenInputPlayerId = document.createElement("input");
        hiddenInputPlayerId.type = "hidden";
        hiddenInputPlayerId.name = "player_id";
        hiddenInputPlayerId.value = "{{ player.id }}";
        var hiddenInputNumberOfShares = document.createElement("input");
        hiddenInputNumberOfShares.id = "buy-sell-hidden-number-of-shares";
        hiddenInputNumberOfShares.type = "hidden";
        hiddenInputNumberOfShares.name = "number_of_shares";
        hiddenInputNumberOfShares.value = "0";
        var hiddenInputSharePrice = document.createElement("input");
        hiddenInputSharePrice.id = "buy-sell-hidden-per-share-price";
        hiddenInputSharePrice.type = "hidden";
        hiddenInputSharePrice.name = "per_share_price";
        hiddenInputSharePrice.value = "{{ player.current_price }}";
        formEl.appendChild(hiddenInputPlayerId);
        formEl.appendChild(hiddenInputNumberOfShares);
        formEl.appendChild(hiddenInputSharePrice);
        var numberOfSharesDivEl = document.createElement("div");
        numberOfSharesDivEl.id = "buy-sell-number-of-shares-container";
        var numberOfSharesTitleTag = document.createElement("p");
        numberOfSharesTitleTag.classList.add("buy-sell-title");
        numberOfSharesTitleTag.innerHTML = "Shares";
        var numberOfSharesInputTag = document.createElement("input");
        numberOfSharesInputTag.id = "buy-sell-number-of-shares-input";
        numberOfSharesInputTag.classList.add("buy-sell-detail");
        numberOfSharesInputTag.type = "text";
        if(buySell == "Buy") {
            numberOfSharesInputTag.placeholder = "0";
        } else {
            numberOfSharesInputTag.placeholder = "{{ selected_player_share.number_of_shares }}";
        }
        numberOfSharesDivEl.appendChild(numberOfSharesTitleTag);
        numberOfSharesDivEl.appendChild(numberOfSharesInputTag);
        formEl.appendChild(numberOfSharesDivEl);
        var individualPriceDivEl = document.createElement("div");
        individualPriceDivEl.id = "buy-sell-price-per-share-container";
        var individualPriceTitleTag = document.createElement("p");
        individualPriceTitleTag.id = "buy-sell-price-per-share-title";
        individualPriceTitleTag.classList.add("buy-sell-title");
        individualPriceTitleTag.innerHTML = "Price"
        var individualPriceDetailTag = document.createElement("p");
        individualPriceDetailTag.id = "buy-sell-price-per-share-detail";
        individualPriceDetailTag.classList.add("buy-sell-detail");
        //should be a variable here
        individualPriceDetailTag.innerHTML = "${{ player.current_price|todollarsandcents }}";
        individualPriceDivEl.appendChild(individualPriceTitleTag);
        individualPriceDivEl.appendChild(individualPriceDetailTag);
        formEl.appendChild(individualPriceDivEl);
        var totalPriceDivEl = document.createElement("div");
        totalPriceDivEl.id = "buy-sell-price-per-share-container";
        var totalPriceTitleTag = document.createElement("p");
        totalPriceTitleTag.id = "buy-sell-total-price-title";
        totalPriceTitleTag.classList.add("buy-sell-title");
        totalPriceTitleTag.innerHTML = "Total Price";
        var totalPriceDetailTag = document.createElement("p");
        totalPriceDetailTag.id = "buy-sell-total-price-detail";
        totalPriceDetailTag.classList.add("buy-sell-detail");
        totalPriceDetailTag.innerHTML = "$0.00"
        totalPriceDivEl.appendChild(totalPriceTitleTag);
        totalPriceDivEl.appendChild(totalPriceDetailTag);
        formEl.appendChild(totalPriceDivEl);
        var inputHiddenEl = document.createElement("input");
        inputHiddenEl.type = "hidden";
        inputHiddenEl.name = "player_id";
        inputHiddenEl.value = "{{ player.id }}";
        formEl.appendChild(inputHiddenEl);
        var submitInputEl = document.createElement("input");
        submitInputEl.type = "submit";
        submitInputEl.value = buySell;
        formEl.appendChild(submitInputEl);
        return formEl;
    }

    function createWatchlistForm() {
        var watchlistButtonContainer = document.createElement("div");
        watchlistButtonContainer.id = "player-watchlist-add-remove-button-container";
        var watchlistButtonForm = document.createElement("form");
        if({{ is_watchlist_share|yesno:"true,false" }}) {
            watchlistButtonForm.action = "{% url 'market:watchlist_remove' player.id %}";
        } else {
            watchlistButtonForm.action = "{% url 'market:watchlist_add' player.id %}";
        }
        watchlistButtonForm.method = "post";
        var inputElem = document.createElement('input');
        inputElem.type = 'hidden';
        inputElem.name = 'csrfmiddlewaretoken';
        inputElem.value = '{{ csrf_token }}';
        watchlistButtonForm.appendChild(inputElem);
        var hiddenInputPlayerId = document.createElement("input");
        hiddenInputPlayerId.type = "hidden";
        hiddenInputPlayerId.name = "player_id";
        hiddenInputPlayerId.value = "{{ player.id }}";
        watchlistButtonForm.appendChild(hiddenInputPlayerId);
        var watchlistButton = document.createElement("input");
        watchlistButton.id = "player-watchlist-add-remove-button";
        watchlistButton.type = "submit";
        if({{ is_watchlist_share|yesno:"true,false" }}) {
            watchlistButton.value = "Remove From Watchlist";
        } else {
            watchlistButton.value = "Add To Watchlist";
        }
        watchlistButtonContainer.appendChild(watchlistButtonForm);
        watchlistButtonForm.appendChild(watchlistButton);
        return watchlistButtonContainer;
    }





    // taken from https://stackoverflow.com/questions/469357/html-text-input-allow-only-numeric-input
    // Restricts input for the given textbox to the given inputFilter function.
    function setInputFilter(textbox, inputFilter) {
        ["input", "keydown", "keyup", "mousedown", "mouseup", "select", "contextmenu", "drop"].forEach(function(event) {
            textbox.addEventListener(event, function() {
                if (inputFilter(this.value)) {
                    this.oldValue = this.value;
                    this.oldSelectionStart = this.selectionStart;
                    this.oldSelectionEnd = this.selectionEnd;
                } else if (this.hasOwnProperty("oldValue")) {
                    this.value = this.oldValue;
                    this.setSelectionRange(this.oldSelectionStart, this.oldSelectionEnd);
                } else {
                    this.value = "";
                }
            });
        });
    }

    function setTotalPriceListener() {
        var sharesInputEl = document.getElementById("buy-sell-number-of-shares-input");
        var sharesPriceEl = document.getElementById("buy-sell-price-per-share-detail");
        var totalPriceEl = document.getElementById("buy-sell-total-price-detail");
        var hiddenSharesInput = document.getElementById("buy-sell-hidden-number-of-shares");
        // TODO figure out if it should be keydown or input
        sharesInputEl.addEventListener("input", function(e) {
            if(!this.value) {
                totalPriceEl.innerHTML = "$0.00";
                return false;
            }
            var numberofShares = this.value;
            // important for buy post request
            hiddenSharesInput.value = this.value;
            var singlePrice = sharesPriceEl.innerHTML.substring(1);
            var totalPrice = parseInt(numberofShares) * parseFloat(singlePrice);
            var roundedTotalPrice = Math.round(totalPrice * 100) / 100;
            // in case of 10.5 toFixed converts it to 10.50
            // alert(roundedTotalPrice);
            totalPriceEl.innerHTML = "$" + roundedTotalPrice.toFixed(2);
        });
    }
    </script>
    <style type="text/css">
    body {
        background-color: {{ primary_design_color }};
        /*background-color: {{ player.team.primary_color }};*/
        margin: 0;
        padding: 0;
        width:100%;
    }

    #player-and-graph-container
    {
        float: left; 
        width: 90%;
        height: 700px;
        margin-left: 5%;
        margin-right: 5%;
    }


    @media only screen and (min-width:1000px) /* make sure this is good, because it's a balagan by the chrome debugger */
    {
        #player-and-graph-container
        {
            float: left; 
            width: 90%;
            margin-left: 5%;
            margin-right: 5%;
            margin-bottom: 0px;
        }
    }

    #graph-with-extras-container {
      float: left;
      width: 100%;
      margin-left: 0px;
      margin-right: 0px;
      height: 100%;
      /*margin-left: 20px;*/
    }

    @media only screen and (min-width:1000px) /* make sure this is good, because it's a balagan by the chrome debugger */
    {
        #graph-with-extras-container
        {
            float: left; 
            width: 70%;
            margin-bottom: 20px;
        }
    }


    #buy-sell-container {

        /*position:fixed;
        top:10px;
        left:900px;
        z-index:1000;*/


        float: left;
        width: 100%;
        margin-left: 0%;
        margin-right: 0%;
        margin-top: 20px;
        margin-bottom: 40px;
        height: 600px;
        padding-bottom: 10px;
        background-color: {{ secondary_design_color }};
        color: {{ primary_design_color }};
        border-radius: 10px;
        box-shadow: 0px 0px 16px black; /* range from 0 - 1 */ /* 0px 8px 16px 0px rgba(0,0,0,1); */
    }

    @media only screen and (min-width:1000px) /* make sure this is good, because it's a balagan by the chrome debugger */
    {
        #buy-sell-container {
          float: left;
          width: 25%;
          height: 80%; /* 300px; */
          margin-left: 0px; /*5%;*/
          margin-right: 0px;
          margin-top: 0px;/*5%;*/
          margin-bottom: 20px;
        }
    }






    #individual-player-container {
      float: left;
      width: 100%;
      height: 300px;
      background-color:{{ secondary_design_color }};
      /*background: linear-gradient(to bottom, {{ player.team.primary_color }} 0%, {{ player.team.primary_color }} 38%, transparent 100%) no-repeat,black;*/
      /*background: linear-gradient(to bottom, {{ player.team.primary_color }} 0%, {{ secondary_design_color }} 100%) no-repeat,black;*/
      /*color: {{ player.team.primary_color }};*/
      /*color: {{ player.team_secondary_color }};*/
      color: {{ primary_design_color }};
      margin-bottom: 10px;
    }

    @media only screen and (min-width:1000px) /* make sure this is good, because it's a balagan by the chrome debugger */
    {
        #individual-player-container {
          float: left;
          width: 100%;
          height: 175px;
          background-color:{{ secondary_design_color }};
          /*background: linear-gradient(to bottom, {{ player.team.primary_color }} 0%, {{ player.team.primary_color }} 38%, transparent 100%) no-repeat,black;*/
          /*background: linear-gradient(to bottom, {{ player.team.primary_color }} 0%, {{ secondary_design_color }} 100%) no-repeat,black;*/
          /*color: {{ player.team.primary_color }};*/
          /*color: {{ player.team_secondary_color }};*/
          color: {{ primary_design_color }};
          margin-bottom: 10px;
        }
    }

    #individual-player-image-container {
      float: left;
      width: 22%;
      height: 100%;
      margin-left: 1%;
      margin-right: 0%;
      position: relative;
    }

    @media only screen and (min-width:1000px) /* make sure this is good, because it's a balagan by the chrome debugger */
    {
        #individual-player-image-container {
          float: left;
          width: 15%;
          height: 100%;
          margin-left: 3%;
          margin-right: 5%;
          position: relative;
        }
    }

    #individual-player-league-image {
      float: left;
      height: 25%;
      margin-left: 20px;
      margin-top:10px;
      margin-bottom: 5%;
    }

    #individual-player-team-image {
      /*float: left;*/
      /*width: 100%;*/
      /*margin-left: 20px;*/

      /*display: inline-block;
      vertical-align: middle;
      height: 100%;*/
      /*position: relative;*/
      /*top: 0;*/
      /*bottom: 0;*/
      /*margin-top:10px;*/
    }

    #individual-player-player-image {
      float: left;
      /*height: 70%;*/
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      /*width: 100%;*/
      /*margin-left: 20px;*/
      /*margin-top: 80px;*/
      /*position: absolute;*/
      /*bottom: 0;*/
      /*height: 50px;*/
    }




    #individual-player-details-container {
      float: left;
      width: 77%;
      height: 100%;
    }

    #individual-player-header-container {
      float: left;
      width: 60%;
    }

    #individual-player-other-container {
      float: left;
      width: 0%;
      

    }


/*    #individual-player-header-container h1 {
      font-size: 4em;
    }

    #individual-player-header-container h2 {
      font-size: 3.5em;
    }
    #individual-player-header-container h3 {
      font-size: 3em;
    }

    #individual-player-header-container h6 {
      font-size: 1.5em;
    }*/

    #individual-player-statistics-container {
        float: left;
        width: 40%;
        height: 100%;
    }

    #individual-player-statistics-image {
      float: left;
      width: 40%;
      height: 50%;
    }

    @media only screen and (min-width:1000px) /* make sure this is good, because it's a balagan by the chrome debugger */
    {
        #individual-player-statistics-image {
          float: left;
          width: 20%;
          height: 50%;
        }
    }

    #individual-player-statistics-image img {
      float: left;
      width: 90%;
      margin-right: 10%;
      /*margin-top: 10px;*/
    }

    #individual-player-statistics-text-container {
      float: left;
      width: 60%;
      height: 50%;
    }

    @media only screen and (min-width:1000px) /* make sure this is good, because it's a balagan by the chrome debugger */
    {
        #individual-player-statistics-text-container {
          float: left;
          width: 80%;
          height: 50%;
        }
    }

    #individual-player-statistics-text-container p {
      margin-bottom: 5px;
      font-size: 1.75em;
      font-weight: bold;
      color: {{ primary_design_color }};
    }

    @media only screen and (min-width:1000px) /* make sure this is good, because it's a balagan by the chrome debugger */
    {
        #individual-player-statistics-text-container p {
          font-size: 1em;
          font-weight: bold;
          color: {{ primary_design_color }};
        }
    }

    #individual-player-statistics-container table {
        float: left;
        width: 90%;
        /*margin-left: 5%;*/
        margin-right: 5%;
        margin-top: 10px;
        /*margin-bottom: 20%;*/
        background-color: {{ player.team.primary_color }};
        color: {{ primary_design_color }};
        border-radius: 5px;
        border: 1px solid {{ secondary_design_color }};
        overflow: hidden;
        text-align: center;
        border-collapse: collapse;
        /* box-shadow: 0px 0px 10px black; range from 0 - 1 0px 8px 16px 0px rgba(0,0,0,1); */
    }

    #individual-player-statistics-container thead th {
        background-color: {{ player.team.primary_color }};
        color: {{ primary_design_color }};
        border-radius: 5px;
        border: 1px solid {{ secondary_design_color }};
        overflow: hidden;
        text-align: center;
        border-collapse: collapse;
        font-size: 2em;
    }

    @media only screen and (min-width:1000px) /* make sure this is good, because it's a balagan by the chrome debugger */
    {
        #individual-player-statistics-container thead th {
            background-color: {{ player.team.primary_color }};
            color: {{ primary_design_color }};
            border-radius: 5px;
            border: 1px solid {{ secondary_design_color }};
            overflow: hidden;
            text-align: center;
            border-collapse: collapse;
            font-size: 1em;
        }
    }

    #individual-player-statistics-container tbody {
        background-color: {{ primary_design_color }};
        color: {{ secondary_design_color }};
    }

    #individual-player-statistics-container tbody td {
        border: 1px solid {{ secondary_design_color }};
        color: {{ player.team.primary_color }};
        overflow: hidden;
        text-align: center;
        border-collapse: collapse;
        font-size: 2em;
    }

    @media only screen and (min-width:1000px) /* make sure this is good, because it's a balagan by the chrome debugger */
    {
        #individual-player-statistics-container tbody td {
            border: 1px solid {{ secondary_design_color }};
            color: {{ player.team.primary_color }};
            overflow: hidden;
            text-align: center;
            border-collapse: collapse;
            font-size: 1em;
        }
    }















    #graph-container {
      float: left;
      width: 100%;
      height: 76%;
    }

    @media only screen and (min-width:1000px) /* make sure this is good, because it's a balagan by the chrome debugger */
    {
        #graph-container {
          float: left;
          width: 100%;
          height: 75%;
        }
    }

    #graph-dynamic-price-container {
      float: left;
      width: 100%;
      height: 12%;
      visibility: hidden;
      color: {{ secondary_design_color }};
    }

    @media only screen and (min-width:1000px) /* make sure this is good, because it's a balagan by the chrome debugger */
    {
        #graph-dynamic-price-container {
          float: left;
          width: 100%;
          height: 8%;
          visibility: hidden;
          color: {{ secondary_design_color }};
        }
    }

    /*#graph-dynamic-price-container h1 {
      height: 100%;
      margin: 0px;
      font-size: 4em;

    }*/

    @media only screen and (min-width:1000px) /* make sure this is good, because it's a balagan by the chrome debugger */
    {
        /*#graph-dynamic-price-container h1 {
          height: 100%;
          margin: 0px;
          font-size: 2em;
        }*/
    }

    #graph-buttons-container {
      float: left;
      width: 100%;
      height: 8%;
    }

    @media only screen and (min-width:1000px) /* make sure this is good, because it's a balagan by the chrome debugger */
    {
        #graph-buttons-container {
          float: left;
          width: 100%;
          height: 6%;
        }
    }

    #graph-buttons-content {
      float: left;
      width: 100%;
      height: 100%;
      margin-left: 0%;
      margin-right: 0%;
    }

    @media only screen and (min-width:1000px) /* make sure this is good, because it's a balagan by the chrome debugger */
    {
        #graph-buttons-content {
          float: left;
          width: 64%;
          height: 100%;
          margin-left: 18%;
          margin-right: 18%;
        }
    }
    #one-day-graph-button-div {
      /*margin-left: 100px;*/
    }



    .graph-button-div {
      float: left;
      width: 15%;
      height: 100%;
      cursor: pointer;
      font-size: 2em;
      border-radius: 8px;
      margin-left: 2.5%;
      margin-right: 2.5%;
      background-color: {{ secondary_design_color }};
      text-align: center;
      color: {{ primary_design_color }};
    }

    @media only screen and (min-width:1000px) /* make sure this is good, because it's a balagan by the chrome debugger */
    {
        .graph-button-div {
          float: left;
          width: 15%;
          height: 40px;
          cursor: pointer;
          font-size: 1em;
          border-radius: 8px;
          margin-left: 10px;
          margin-right: 10px;
          padding: 8px;

          background-color: {{ secondary_design_color }};
          text-align: center;
          color: {{ primary_design_color }};
        }
    }










    /*#buy-sell-header-container {
      float: left;
      width: 100%;
    }*/

    #buy-toggle-button {
      border-bottom: 2px solid {{ primary_design_color }};
    }



    #buy-sell-header-container {
      float: left;
      width: 100%;
      height: 15%;
    }


    #buy-sell-header-container h4 {
      float: left;
      /*width: 30%;*/
      display: inline;
      margin-left: 20px;
      margin-top: 10px;
      cursor: pointer;
      font-size: 3.75em;
    }

    @media only screen and (min-width:1000px)  /* make sure this is good, because it's a balagan by the chrome debugger */
    {
        #buy-sell-header-container h4 {
          float: left;
          /*width: 30%;*/
          display: inline;
          margin-left: 20px;
          margin-top: 10px;
          cursor: pointer;
          font-size: 1.75em;
        }
    }

    #buy-sell-body-container {
      float: left;
      width: 100%;
      height: 85%;
      /*margin-bottom: 20px; could be neccessary if you want to add other things in the buy/sell box */
    }

    #buy-sell-number-of-shares-container {
      float: left;
      width: 100%;
      height: 25%;
      margin-bottom: 10px;
    }

    #buy-sell-number-of-shares-container p {
      float: left;
      width: 45%;
      height: 100%;
      font-size: 3em;
      margin-top: 10px;
    }

    @media only screen and (min-width:1000px) /* make sure this is good, because it's a balagan by the chrome debugger */
    {
        #buy-sell-number-of-shares-container p {
          float: left;
          width: 45%;
          height: 100%;
          font-size: 1em;
        }
    }

    #buy-sell-number-of-shares-input {
      float: right;
      width: 40%;
      height: 100%;
      border-radius: 5px;
      background: {{ primary_design_color }};
      color: {{ secondary_design_color }};
      font-size: 3em;
    }

    @media only screen and (min-width:1000px) /* make sure this is good, because it's a balagan by the chrome debugger */
    {
        #buy-sell-number-of-shares-input {
          float: right;
          width: 40%;
          height: 100%;
          border-radius: 5px;
          background: {{ primary_design_color }};
          color: {{ secondary_design_color }};
          font-size: 1em;
        }
    }

    #buy-sell-price-per-share-container {
      float: left;
      width: 100%;
      height: 25%;
      font-size: 3em;
    }

    @media only screen and (min-width:1000px) /* make sure this is good, because it's a balagan by the chrome debugger */
    {
        #buy-sell-price-per-share-container {
          float: left;
          width: 100%;
          height: 25%;
          font-size: 1em;
        }
    }

    #buy-sell-total-price-container {
      float: left;
      width: 100%;
      height: 25%;
      font-size: 3em;
    }

    @media only screen and (min-width:1000px) /* make sure this is good, because it's a balagan by the chrome debugger */
    {
        #buy-sell-total-price-container {
          float: left;
          width: 100%;
          height: 25%;
          font-size: 1em;
        }
    }

    .buy-sell-title {
      float: left;
      width: 45%;
      margin-left: 10px;
    }

    .buy-sell-detail {
      float: right;
      width: 45%;
      margin-right: 10px;
      text-align: right;
    }

    #buy-sell-container input[type=submit] {
      display: block;
      margin-left: 10%;
      margin-right: 10%;
      margin-bottom: 10px;
      width: 80%;
      background-color: {{ primary_design_color }};
      color: {{ secondary_design_color }};
      font-size: 3em;
    }

    @media only screen and (min-width:1000px) /* make sure this is good, because it's a balagan by the chrome debugger */
    {
        #buy-sell-container input[type=submit] {
          display: block;
          margin-left: 10%;
          margin-right: 10%;
          margin-bottom: 10px;
          width: 80%;
          background-color: {{ primary_design_color }};
          color: {{ secondary_design_color }};
          font-size:1em;
        }
    }



    #buy-sell-container input[type=submit]:hover {
      cursor: pointer;
      background-color: {{ primary_hover_color }};
    }

    .positive {
      color: {{ positive_color }};
    }

    .negative {
      color: {{ negative_color }};
    }









    #owned-share-info-container {
        float: left;
        width: 100%;
        height: 500px;
        border-radius: 5px;
        box-shadow: 0px 0px 16px black;
        padding: 10px;
    }

    @media only screen and (min-width:1000px)
    {
        #owned-share-info-container {
            float: left;
            width: 65%;
            height: 300px;
            margin-left: 2%;
            border-radius: 5px;
            box-shadow: 0px 0px 16px black;
        }
    }












    /*#share-and-relevant-info-container {
        float: left;
        width: 100%;
    }*/

    #owned-share-container {
        float: left;
        width: 33%;
    }

    #top-mover-container {
        float: left;
        width: 100%;
        height: 1250px;
        /*margin-left: 10%;*/
        /*margin-right: 10%;*/
        position: relative;
        color: {{ secondary_design_color }};
    }

    @media only screen and (min-width:1000px) /* make sure this is good, because it's a balagan by the chrome debugger */
    {
        #top-mover-container {
            float: left;
            width: 65%;
            margin-left: 2%;
            /*margin-right: 0%;*/
            height: 100%;
            position: relative;
        }
    }

    .top-mover-contents {
        width: 100%;
        height: 200px;
        /*overflow: hidden;*/
        /*display: flex;*/
        /*flex-flow: column wrap;*/
        /*position: absolute;*/
        /*top: 0;*/
        /*right: 0;*/
        /*float: right;*/
    }

   
    </style>
</html>
