<!DOCTYPE html>
<html>
<head>
    <title>FAQ</title>
</head>
<body>
    {% include "market/header.html" with scheduled_games=scheduled_games list_of_names=list_of_names %}
    <div id="content">
        <div id="rules-sidebar">
            <div id="rules-sidebar-content">
                <ul class="sidebar-main-section">
                    <li>
                        <a href="#modes">Playing Modes</a>
                        <ul>
                            <li class="sidebar-secondary-section">
                                <a href="#modes-fantasy">Fantasy Mode</a>
                            </li>
                            <li class="sidebar-secondary-section">
                                <a href="#modes-investor">Investor Mode</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul class="sidebar-main-section">
                    <li>
                        <a href="#pricing">Pricing</a>
                        <ul>
                            <li class="sidebar-secondary-section">
                                <a href="#pricing-mlb">MLB Pricing</a>
                            </li>
                            <li class="sidebar-secondary-section">
                                <a href="#pricing-nba">NBA Pricing</a>
                            </li>
                            <li class="sidebar-secondary-section">
                                <a href="#pricing-nfl">NFL Pricing</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul class="sidebar-main-section">
                    <li>
                        <a href="#seasons">Seasons</a>
                        <ul>
                            <li class="sidebar-secondary-section">
                                <a href="#seasons-regular">Regular Season</a>
                            </li>
                            <li class="sidebar-secondary-section">
                                <a href="#seasons-pre">Preseason</a>
                            </li>
                            <li class="sidebar-secondary-section">
                                <a href="#seasons-post">Postseason</a>
                            </li>
                            <li class="sidebar-secondary-section">
                                <a href="#seasons-off">Off Season</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul class="sidebar-main-section">
                    <li>
                        <a href="#career">Stock Career</a>
                        <ul>
                            <li class="sidebar-secondary-section">
                                <a href="#career-start">Start Of Career</a>
                            </li>
                            <li class="sidebar-secondary-section">
                                <a href="#career-mid">Mid-Career</a>
                            </li>
                            <li class="sidebar-secondary-section">
                                <a href="#career-end">End Of Career</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div id="rules-body">
            <div id="modes" class="body-main-section">
                <h3>Playing Modes</h3>
                Should I have you can only have one account or one user can have both?
                <div id="modes-fantasy" class="body-secondary-section">
                    <h4>Fantasy Mode</h4>
                    <p>When you originally sign up for an account you will get a $10,000.00 credit for free, but this is not real money. You are just getting a feel for the market and just playing for fun. When you think you're ready to take some real risk, enter <a href="mode-investor">Inverstor Mode</a>.</p>
                </div>
                <div id="modes-investor" class="body-secondary-section">
                    <h4>Investor Mode</h4>
                    <p>You can deposit money with either PayPal or by connecting your bank account in investor mode. It will take 3-5 business days for you're money to arrive in your account. We will email you when the money has been deposited and then you are ready to play for real.</p>
                </div>
            </div>
            <div id="pricing" class="body-main-section">
                <h3>Pricing</h3>
                <p>Different data is used to determine the current price of a player's stock. There are many things that go into a player's price including salary, performance, and possibly historical performance, but here are some of the basics to give you an idea of how to pick your players.</p>
                <div id="pricing-mlb" class="body-secondary-section">
                    <h4>MLB</h4>
                    <p>MLB position players have one pricing algorithm and pitchers have a different one. A position player's price will not be affected by his pitching stats if he pitches in a game, except for Shohei Ohtani</p>
                </div>
                <div id="pricing-nba" class="body-secondary-section">
                    <h4>NBA</h4>
                    <p>All NBA players have the same pricing algorithm</p>
                </div>
                <div id="pricing-nfl" class="body-secondary-section">
                    <h4>NFL</h4>
                    <p>NFL offensive players (with the exception of offensive line) have one pricing algorithm and defensive players have a different algorithm. If a receiver throws a touchdown this will positively affect his price or if a quarterback rushes for a touchdown this will positively affect his price.</p>
                </div>
            </div>
            <div id="seasons" class="body-main-section">
                <h3>Seasons</h3>
                <p>As long as a player is active(not sure if that means career or not injured or not a free agent, idk), his stock is available to be traded, but there will be different things to take into account when buying or selling a stock based on the time of year</p>
                <div id="seasons-regular" class="body-secondary-section">
                    <h4>Regular Season</h4>
                    <p>During the regular season of a player's sport, the pricing will be standard as described <a href="#">above</a>. It will be based on how the player is performing during the season(as well as maybe historic)</p>
                </div>
                <div id="seasons-pre" class="body-secondary-section">
                    <h4>Preseason</h4>
                    <p>The preseason will be treated the same as the offseason.</p>
                </div>
                <div id="seasons-post" class="body-secondary-section">
                    <h4>Postseason</h4>
                    <p>If a player's team makes it into the postseason he will be priced exactly the same way he waas priced in the regular season, except with a little bit of a bonus for accomplishing this. The bonus will be increased as the player's team goes further in the playoffs. If a player did not make the playoffs or was bounced out of the playoffs, his price will begin to be calculated as it is in the offseason</p>
                </div>
                <div id="seasons-off" class="body-secondary-section">
                    <h4>Off Season</h4>
                    <p>A player's price will be stuck to the last game he played, but can still fluctuate based on other factors.</p>
                </div>
            </div>
            <div id="career" class="body-main-section">
                <div id="career-start" class="body-secondary-section">
                    <h4>Start Of Career</h4>
                    <p>A player's stock will be added to the market after he has completed his first official game in his sport or when he signs his first contract.</p>
                </div>
                <div id="career-mid" class="body-secondary-section">
                    <h4>Career</h4>
                    <p>A player's price will fluctuate based on different factors including how well he performs during each game</p>
                </div>
                <div id="career-end" class="body-secondary-section">
                    <h4>End Of Career</h4>
                    <p>A player's stock will be taken from the market and you will lose all the money invested with him, so please be awarre of this after his last game(how do i do this)</p>
                </div>
            </div>
        </div>
    </div>
</body>
<style type="text/css">
    body {
        background-color: #cccccc;
        color: #404040;
    }

    #content {
        float: left;
        width: 100%;
        margin-top: 10px;
        /*background-color: #cccccc;*/
    }

    #rules-sidebar {
        /*float: left;*/
        width: 19%;
        /*margin-top: */
        margin-left: 3%;
        margin-right: 3%;
        position: fixed;
        top: 65px;
        /*left: 0;*/
        border-radius: 5px;
        background-color: #404040;
    }

    #rules-sidebar a {
        color: #cccccc;
        /*text-decoration: none;*/
    }

    #rules-sidebar a:hover {
        color: #cccccc;
        /*text-decoration: none;*/
    }

    #rules-sidebar-content {
        float: left;
        width: 80%;
        margin-top: 10px;
        margin-left: 10%;
        margin-right: 10%;
    }

    #rules-body {
        float: left;
        margin-left: 25%;
        width: 75%;
    }
</style>
</html>