<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Search</title>
    {% load static %}
    <link rel="icon" href="{% static "market/images/other/venture_sports_primary_logo.png" %}">
  </head>
  <body>
    {% include "market/header.html" with scheduled_games=scheduled_games list_of_names=list_of_names %}

    {% load custom_tags %}

<!-- {{re}} -->
<!-- {{query}} -->
<!-- {{ player_list.count }} -->
<div id="stock-cards-container">
    {% for player in player_list  %}
    {# with current_player_id_dict=search_results_dict|keyvalue:player.id current_player_id=player.id #}  
    <div class="stock-card" style="background: linear-gradient(to bottom, transparent 0%, transparent 33%, {{ player.team.primary_color }} 100%) no-repeat,black;">
        <a href="{% url 'market:player_detail' player.id %}"><span></span></a>
        <div id="images-container">
            <div id="logo-image-container">
                <img src="/static/market/images/other/{{ player.sport }}_logo.png">
            </div>
            <div id="team-image-container">
                <img src="/static/market/images/teams/{{ player.sport }}_teams/{{ player.team.full_name|tovariablename }}.png">
            </div>
            <div id="player-image-container">
                <img src="/static/market/images/players/{{ player.sport }}/{{ player.name|tovariablename }}.png">
            </div>
            
        </div>
        <div id="text-container">
            <div id="primary-text-container">
                <h1>{{ player.name|title|fitword:14 }}</h1>
                {% if player.delta >= 0 %}
                <h3>${{ player.current_performance_price|todollarsandcents }}<span class="positive"><i class="fa fa-angle-up"></i>(+${{ player.delta }})</span></h3>
                {% else %}
                <h3>${{ player.current_performance_price|todollarsandcents }}<span class="negative"><i class="fa fa-angle-down"></i>(-${{ player.delta }})</span></h3>
                {% endif %}
            </div>
            <div id="statistics-text-container">
                <table>
                    <thead style="background-color:{{ player.team.primary_color }};color:{{ primary_design_color }};">
                        <tr>
                        {% if player.sport|lower == "nba" %}
                            <th>PPG</th>
                            <th>RPG</th>
                            <th>APG</th>
                        {% elif player.sport|lower == "mlb" %}
                            {% if player.position|lower == "p" or player.position|lower == "pitcher" %}
                            <th>W</th>
                            <th>L</th>
                            <th>ERA</th>
                            <!-- <th>K/9</th>
                            <th>WHIP</th> -->
                            {% else %}
                            <th>BA</th>
                            <th>RBI</th>
                            <th>HR</th>
                            {% endif %}
                        {% else %}
                            {% if player.position|lower == "qb" %}
                            <th>YPG</th>
                            <th>TD</th>
                            <th>INT</th>
                            {% elif player.position|lower == "rb" %}
                            <th>YPG</th>
                            <th>TD</th>
                            <th>F</th>
                            {% elif player.position|lower == "wr" or player.position|lower == "te" %}
                            <th>YPG</th>
                            <th>REC</th>
                            <th>TD</th>
                            {% else %}
                            <th>TKL</th>
                            <th>INT</th>
                            <th>S</th>
                            {% endif %}
                        {% endif %}
                        </tr>
                    </thead>
                    <tbody style="background-color:{{ primary_design_color }};color:{{ player.team.primary_color }};">
                        <tr>    
                        {% if player.sport|lower == "nba" %}
                        {% for stat in player.playercurrentstatistics_set.all %}
                        {% if stat.stat_name == "nba_total_points" %}
                            <td>{{ stat.stat_value }}</td>
                        {% endif %}
                        {% if stat.stat_name == "nba_total_rebounds" %}
                            <td>{{ stat.stat_value }}</td>
                        {% endif %}
                        {% if stat.stat_name == "nba_assists" %}
                            <td>{{ stat.stat_value }}</td>
                        {% endif %}
                        {% endfor %}
                        {% endif %}
                        
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {# endwith #}
    {% endfor %}
</div>
<!-- {{query}} -->
<!-- {{ search_results_dict }} -->
</body>
</html>
<style type="text/css">
body {
    background-color: {{ primary_design_color }}; /*#c6c6ee;*/
}

#stock-cards-container {
    float: left;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    /*margin: auto;*/ /*could alsohave this if needed*/
}


@media only screen and (min-width:1000px) /* make sure this is good, because it's a balagan by the chrome debugger */
{
    #stock-cards-container
    {
        float: left; 
        width: 60%;
        margin-left: 20%;
        margin-right: 20%;
    }
}

.stock-card {
    /*margin:auto; makes it in the middle*/
    margin-bottom: 40px;
    position: relative; /* must be relative so that only the div - and nothing outside it - is the a tag link clickable*/
    width: 100%;
    height: 325px;
    /*background-color: blue;*/
    /* make this correspond to team color?*/
    border-radius: 15px;
    box-shadow: 0px 0px 10px black; /* range from 0 - 1 */ /* 0px 8px 16px 0px rgba(0,0,0,1); */
}

@media only screen and (min-width:1000px) /* make sure this is good, because it's a balagan by the chrome debugger */
{
    .stock-card
    {
        height: 165px;
        margin-bottom: 10px;

    }
}

#images-container {
    float: left;
    width: 25%;
    margin-right: 10%;
    height: 100%;
    /*text-align: center; actually works for images, who would have thought */
}

@media only screen and (min-width:1000px) /* make sure this is good, because it's a balagan by the chrome debugger */
{
    #images-container {
        float: left;
        width: 15%;
        margin-right: 3%;
        height: 100%;
        /*text-align: center; actually works for images, who would have thought */
    }
}

#logo-image-container {
    float: left;
    width: 80%;
    height: 20%;
    margin-left: 20%;
    margin-bottom: 10px;
}

@media only screen and (min-width:1000px) /* make sure this is good, because it's a balagan by the chrome debugger */
{
    #logo-image-container {
        float: left;
        width: 80%;
        height: 20%;
        margin-left: 20%;
        margin-bottom: 5px;
    }
}

#logo-image-container img {
    float: left;
    height: 100%;
    /*width: 20%;*/
}

#team-image-container {
    float: left;
    width: 80%;
    height: 30%;
    margin-left: 20%;
}

#team-image-container img {
    float: left;
    height: 100%;
}


#player-image-container {
    float: left;
    width: 80%;
    height: 50%;
    margin-left: 20%;
}

#player-image-container img {
    float: left;
    height: 94%;
}

/*@media only screen and (min-width:1000px)  make sure this is good, because it's a balagan by the chrome debugger 
{
    #images-container div img {
        float: left;
        width: 60%;
        margin-left: 20%;
        margin-right: 20%;
    }
}
*/


#text-container {
    float: left;
    width: 65%;
    height: 100%;
    /*text-align: center; actually works for images, who would have thought */
}

@media only screen and (min-width:1000px) /* make sure this is good, because it's a balagan by the chrome debugger */
{
    #text-container {
        float: left;
        width: 82%;
        height: 100%;
        /*text-align: center; actually works for images, who would have thought */
    }
}



#primary-text-container {
    float: left;
    width: 100%;
    height: 50%;
    /*margin-top: 10px;*/
    /*margin-bottom: 10px;*/
    border-radius: 5px;
    /*background-color: {{ secondary_design_color }};*/
    color: {{ primary_design_color }};
}

@media only screen and (min-width:1000px) /* make sure this is good, because it's a balagan by the chrome debugger */
{
    #primary-text-container {
        float: left;
        width: 65%;
        height: 100%;
        /*margin-top: 10px;*/
        /*margin-bottom: 10px;*/
        border-radius: 5px;
        /*background-color: {{ secondary_design_color }};*/
        color: {{ primary_design_color }};
    }
}

#primary-text-container h1 {
    font-size: 4.5em;
}

@media only screen and (min-width:1000px) /* make sure this is good, because it's a balagan by the chrome debugger */
{
    #primary-text-container h1 {
        font-size: 3em;
    }
}


#primary-text-container h3 {
    font-size: 3.5em;
}

@media only screen and (min-width:1000px) /* make sure this is good, because it's a balagan by the chrome debugger */
{
    #primary-text-container h3 {
        font-size: 2.5em;
    }
}

#statistics-text-container {
    float: left;
    width: 100%;
}

@media only screen and (min-width:1000px) /* make sure this is good, because it's a balagan by the chrome debugger */
{
    #statistics-text-container {
        float: left;
        width: 35%;
    }
}

#statistics-text-container table {
    float: left;
    width: 65%;
    margin-left: 0%;
    /*margin-right: 5%;*/
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: {{ secondary_design_color }};
    color: {{ primary_design_color }};
    border-radius: 5px;
    border: 1px solid {{ primary_design_color }};
    overflow: hidden;
    text-align: center;
    border-collapse: collapse;
    /* box-shadow: 0px 0px 10px black; range from 0 - 1 0px 8px 16px 0px rgba(0,0,0,1); */
}

@media only screen and (min-width:1000px) /* make sure this is good, because it's a balagan by the chrome debugger */
{
    #statistics-text-container table {
        float: left;
        width: 92.5%;
        margin-left: 2.5%;
        margin-right: 5%;
        margin-top: 40px;
        margin-bottom: 20px;
        background-color: {{ secondary_design_color }};
        color: {{ primary_design_color }};
        border-radius: 5px;
        border: 1px solid {{ primary_design_color }};
        overflow: hidden;
        text-align: center;
        border-collapse: collapse;
        /* box-shadow: 0px 0px 10px black; range from 0 - 1 0px 8px 16px 0px rgba(0,0,0,1); */
    }
}

#statistics-text-container thead {
    background-color: {{ secondary_design_color }};
    color: {{ primary_design_color }};
    border-radius: 5px;
    border: 1px solid {{ primary_design_color }};
    overflow: hidden;
    text-align: center;
    border-collapse: collapse;
}

#statistics-text-container thead th {
    border: 1px solid {{ secondary_design_color }};
    overflow: hidden;
    text-align: center;
    border-collapse: collapse;
    font-size: 2.5em;
}

@media only screen and (min-width:1000px) /* make sure this is good, because it's a balagan by the chrome debugger */
{
    #statistics-text-container thead th {
        border: 1px solid {{ secondary_design_color }};
        overflow: hidden;
        text-align: center;
        border-collapse: collapse;
        font-size: 1em;
    }
}

#statistics-text-container tbody {
    /*background-color: white;
    color: black;*/

    background-color: {{ primary_design_color }};
    color: {{ secondary_design_color }};
}

#statistics-text-container tbody td {
    border: 1px solid {{ secondary_design_color }};
    overflow: hidden;
    text-align: center;
    border-collapse: collapse;
    font-size: 3em;
}

@media only screen and (min-width:1000px) /* make sure this is good, because it's a balagan by the chrome debugger */
{
    #statistics-text-container tbody td {
        border: 1px solid {{ secondary_design_color }};
        overflow: hidden;
        text-align: center;
        border-collapse: collapse;
        font-size: 1em;
    }
}
    


.stock-card p {
    float:left;
    margin: 5px;
    color: {{ primary_design_color }};
}

/* taken from https://stackoverflow.com/questions/796087/make-a-div-into-a-link */
.stock-card a span {
  position:absolute; 
  width:100%;
  height:100%;
  top:0;
  left: 0;
  z-index: 1;
  /* fixes overlap error in IE7/8, 
     make sure you have an empty gif */
  background-image: url('empty.gif');
}

.negative {
    color: {{ negative_color }};
}

.positive {
    color: {{ positive_color }};
}
</style>