{% extends "market/base.html" %}

{% block head_title %}Signup{% endblock head_title %}

{% block head %}
{% load static %}
{% endblock head %}


{% block header %}
{% include "market/header.html" with user=user scheduled_games=scheduled_games list_of_names=list_of_names %}
{% endblock header %}

{% block container_header %}Sign Up{% endblock container_header %}

{% block content %}

    <div id="login-material-container">

        <!-- roughly based off of https://bootsnipp.com/snippets/z8699 -->
        <form class="needs-validation" action="{% url 'market:signup' %}" method="post" novalidate> <!-- novalidate turns off the default browser validation behaviour -->
        {% csrf_token %}
            <!-- <div class="row">
                <div class="col">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1"><i class="fa fa-user"></i></span>
                        </div>
                        <input id="player-search-input-text" class="form-control" aria-label="Username" aria-describedby="basic-addon1" type="text" name="user_first_name" placeholder="First Name" required>
                        <!-- <div class="invalid-feedback">
                            Please enter your first name.
                        </div> --
                    </div>
                </div>
                <div class="col">
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1"><i class="fa fa-user"></i></span>
                      </div>
                      <input id="player-search-input-text" class="form-control" aria-label="Username" aria-describedby="basic-addon1" type="text" name="user_last_name" placeholder="Last Name" required>
                      <!-- <div class="invalid-feedback">
                            Please enter your last name.
                        </div> --
                    </div>
                </div>
            </div> -->
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1"><!-- <i class="fa fa-user"></i> --></span>
                      </div>
                      <input id="player-search-input-text" class="form-control" aria-label="Username" aria-describedby="basic-addon1" type="text" name="user_username" placeholder="Username" required>
                      <!-- <div class="invalid-feedback">
                            Please enter a username.
                        </div> -->
                    </div>
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1"><!-- <i class="fa fa-envelope"></i> --></span>
                      </div>
                      <input id="player-search-input-text" class="form-control" aria-label="Username" aria-describedby="basic-addon1" type="text" name="user_email" placeholder="Email" required>
                      <!-- <div class="invalid-feedback">
                            Please enter a valid email address.
                        </div> -->
                    </div>
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1"><!-- <i class="fa fa-lock"></i> --></span>
                      </div>
                      <input id="player-search-input-text" class="form-control" aria-label="Username" aria-describedby="basic-addon1" type="text" name="user_password" placeholder="Password" required>
                    </div
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1"><!-- <i class="fa fa-lock"></i> --></span>
                      </div>
                      <input id="player-search-input-text" class="form-control" aria-label="Username" aria-describedby="basic-addon1" type="text" name="user_confirm_password" placeholder="Confirm Password" required>
                      <!-- <div class="invalid-feedback">
                            Please enter a valid password that has 6-12 characters, a letter, a number, and a character.
                        </div> -->
                    </div>

            <!-- <div class="row">
                <div class="col">
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1"><i class="fa fa-home"></i></span>
                      </div>
                      <input id="player-search-input-text" class="form-control" aria-label="Username" aria-describedby="basic-addon1" type="text" name="user_first_name" placeholder="Address">
                      <!-- <div class="invalid-feedback">
                            Please confirm your password.
                        </div> --
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1"><i class="fa fa-building"></i></span>
                      </div>
                      <input id="player-search-input-text" class="form-control" aria-label="Username" aria-describedby="basic-addon1" type="text" name="user_first_name" placeholder="City">
                      <!-- <div class="invalid-feedback">
                            Please enter a valid city.
                        </div> --
                    </div>
                </div>
                <div class="col">
                    <div class="input-group mb-3">
                      <!-- <input id="player-search-input-text" class="form-control" aria-label="Username" aria-describedby="basic-addon1" type="text" name="user_last_name" placeholder="Zipcode"> --
                    <select class="custom-select" id="inputGroupSelect01">
                        <option value="" disabled selected>State</option>
                        <option value="AL">Alabama</option>
                        <option value="AK">Alaska</option>
                        <option value="AZ">Arizona</option>
                        <option value="AR">Arkansas</option>
                        <option value="CA">California</option>
                        <option value="CO">Colorado</option>
                        <option value="CT">Connecticut</option>
                        <option value="DE">Delaware</option>
                        <option value="DC">District Of Columbia</option>
                        <option value="FL">Florida</option>
                        <option value="GA">Georgia</option>
                        <option value="HI">Hawaii</option>
                        <option value="ID">Idaho</option>
                        <option value="IL">Illinois</option>
                        <option value="IN">Indiana</option>
                        <option value="IA">Iowa</option>
                        <option value="KS">Kansas</option>
                        <option value="KY">Kentucky</option>
                        <option value="LA">Louisiana</option>
                        <option value="ME">Maine</option>
                        <option value="MD">Maryland</option>
                        <option value="MA">Massachusetts</option>
                        <option value="MI">Michigan</option>
                        <option value="MN">Minnesota</option>
                        <option value="MS">Mississippi</option>
                        <option value="MO">Missouri</option>
                        <option value="MT">Montana</option>
                        <option value="NE">Nebraska</option>
                        <option value="NV">Nevada</option>
                        <option value="NH">New Hampshire</option>
                        <option value="NJ">New Jersey</option>
                        <option value="NM">New Mexico</option>
                        <option value="NY">New York</option>
                        <option value="NC">North Carolina</option>
                        <option value="ND">North Dakota</option>
                        <option value="OH">Ohio</option>
                        <option value="OK">Oklahoma</option>
                        <option value="OR">Oregon</option>
                        <option value="PA">Pennsylvania</option>
                        <option value="RI">Rhode Island</option>
                        <option value="SC">South Carolina</option>
                        <option value="SD">South Dakota</option>
                        <option value="TN">Tennessee</option>
                        <option value="TX">Texas</option>
                        <option value="UT">Utah</option>
                        <option value="VT">Vermont</option>
                        <option value="VA">Virginia</option>
                        <option value="WA">Washington</option>
                        <option value="WV">West Virginia</option>
                        <option value="WI">Wisconsin</option>
                        <option value="WY">Wyoming</option>
                      </select>
                      <!-- <div class="invalid-feedback">
                            Please enter a valid state.
                        </div> --
                    </div>
                </div>
                <div class="col">
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1"><i class="fa fa-building"></i></span>
                      </div>
                      <input id="player-search-input-text" class="form-control" aria-label="Username" aria-describedby="basic-addon1" type="text" name="user_first_name" placeholder="Zipcode">
                      <!-- <div class="invalid-feedback">
                            Please enter a valid zipcode.
                        </div> --
                    </div>
                </div>
            </div> -->
            <!-- <div id="checkboxes-container">
                <div style="text-align:center;" class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" required>
                    <label class="form-check-label" for="defaultCheck1">
                    I agree to the Venture Sports <a id="terms-and-conditions"  data-toggle="modal" data-target="#terms-and-conditions-modal" href="">Terms & Conditions</a>
                    </label>
                    <!--<div class="invalid-feedback">
                            Please check if you agree to the terms & conditions.
                        </div>--
                </div>
                
                <!-- <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" checked>
                    <label class="form-check-label" for="defaultCheck1">
                    I would like to receive emails and updates from Venture Sports
                    </label>
                </div> --
            </div> -->
            <div class="form-group">
                <!-- right now the decision is to add this later, possibly will be complicated -->
                <!-- <button type="submit" class="btn btn-primary btn-block">Link Bank Account</button> -->

                <input type="submit" class="btn btn-primary btn-block" value="Create Account" style="background-color:{{primary_design_color}};color:{{secondary_design_color}};">
            </div>
            {% if error %}
            <div id="signup-error-container">
                <p>The username or password was incorrect</p>
            </div>
            {% endif %}
        </form>

    </div>
    <!-- <div>
        <div id="terms-and-conditions-modal" class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">Venture Sports Terms & Conditions</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div id="terms-and-condtions-body">
                        <div id="gotten-from-the-website"> <!-- can be found here: https://www.termsandconditionsgenerator.com/live.php?token=kDyBFpsOmtgNKCeJyixXRvNJSjfYw8Z3 --
                            <h2><strong>Terms and Conditions</strong></h2>
                            <p>Welcome to Website Name!</p>
                            <p>These terms and conditions outline the rules and regulations for the use of Company Name's Website, located at https://websiteurl.com/.</p>
                            <p>By accessing this website we assume you accept these terms and conditions. Do not continue to use Website Name if you do not agree to take all of the terms and conditions stated on this page. Our Terms and Conditions were created with the help of the <a href="https://www.termsandconditionsgenerator.com">Terms And Conditions Generator</a> and the <a href="https://www.privacypolicyonline.com/terms-conditions-generator/">Free Terms & Conditions Generator</a>.</p>
                            <p>The following terminology applies to these Terms and Conditions, Privacy Statement and Disclaimer Notice and all Agreements: "Client", "You" and "Your" refers to you, the person log on this website and compliant to the Company’s terms and conditions. "The Company", "Ourselves", "We", "Our" and "Us", refers to our Company. "Party", "Parties", or "Us", refers to both the Client and ourselves. All terms refer to the offer, acceptance and consideration of payment necessary to undertake the process of our assistance to the Client in the most appropriate manner for the express purpose of meeting the Client’s needs in respect of provision of the Company’s stated services, in accordance with and subject to, prevailing law of Netherlands. Any use of the above terminology or other words in the singular, plural, capitalization and/or he/she or they, are taken as interchangeable and therefore as referring to same.</p>
                            <h3><strong>Cookies</strong></h3>
                            <p>We employ the use of cookies. By accessing Website Name, you agreed to use cookies in agreement with the Company Name's Privacy Policy.</p>
                            <p>Most interactive websites use cookies to let us retrieve the user’s details for each visit. Cookies are used by our website to enable the functionality of certain areas to make it easier for people visiting our website. Some of our affiliate/advertising partners may also use cookies.</p>
                            <h3><strong>License</strong></h3>
                            <p>Unless otherwise stated, Company Name and/or its licensors own the intellectual property rights for all material on Website Name. All intellectual property rights are reserved. You may access this from Website Name for your own personal use subjected to restrictions set in these terms and conditions.</p>
                            <p>You must not:</p>
                            <ul>
                                <li>Republish material from Website Name</li>
                                <li>Sell, rent or sub-license material from Website Name</li>
                                <li>Reproduce, duplicate or copy material from Website Name</li>
                                <li>Redistribute content from Website Name</li>
                            </ul>
                            <p>This Agreement shall begin on the date hereof.</p>
                            <p>Parts of this website offer an opportunity for users to post and exchange opinions and information in certain areas of the website. Company Name does not filter, edit, publish or review Comments prior to their presence on the website. Comments do not reflect the views and opinions of Company Name,its agents and/or affiliates. Comments reflect the views and opinions of the person who post their views and opinions. To the extent permitted by applicable laws, Company Name shall not be liable for the Comments or for any liability, damages or expenses caused and/or suffered as a result of any use of and/or posting of and/or appearance of the Comments on this website.</p>
                            <p>Company Name reserves the right to monitor all Comments and to remove any Comments which can be considered inappropriate, offensive or causes breach of these Terms and Conditions.</p>
                            <p>You warrant and represent that:</p>
                            <ul>
                                <li>You are entitled to post the Comments on our website and have all necessary licenses and consents to do so;</li>
                                <li>The Comments do not invade any intellectual property right, including without limitation copyright, patent or trademark of any third party;</li>
                                <li>The Comments do not contain any defamatory, libelous, offensive, indecent or otherwise unlawful material which is an invasion of privacy</li>
                                <li>The Comments will not be used to solicit or promote business or custom or present commercial activities or unlawful activity.</li>
                            </ul>
                            <p>You hereby grant Company Name a non-exclusive license to use, reproduce, edit and authorize others to use, reproduce and edit any of your Comments in any and all forms, formats or media.</p>
                            <h3><strong>Hyperlinking to our Content</strong></h3>
                            <p>The following organizations may link to our Website without prior written approval:</p>
                            <ul>
                                <li>Government agencies;</li>
                                <li>Search engines;</li>
                                <li>News organizations;</li>
                                <li>Online directory distributors may link to our Website in the same manner as they hyperlink to the Websites of other listed businesses; and</li>
                                <li>System wide Accredited Businesses except soliciting non-profit organizations, charity shopping malls, and charity fundraising groups which may not hyperlink to our Web site.</li>
                            </ul>
                            <p>These organizations may link to our home page, to publications or to other Website information so long as the link: (a) is not in any way deceptive; (b) does not falsely imply sponsorship, endorsement or approval of the linking party and its products and/or services; and (c) fits within the context of the linking party’s site.</p>
                            <p>We may consider and approve other link requests from the following types of organizations:</p>
                            <ul>
                                <li>commonly-known consumer and/or business information sources;</li>
                                <li>dot.com community sites;</li>
                                <li>associations or other groups representing charities;</li>
                                <li>online directory distributors;</li>
                                <li>internet portals;</li>
                                <li>accounting, law and consulting firms; and</li>
                                <li>educational institutions and trade associations.</li>
                            </ul>
                            <p>We will approve link requests from these organizations if we decide that: (a) the link would not make us look unfavorably to ourselves or to our accredited businesses; (b) the organization does not have any negative records with us; (c) the benefit to us from the visibility of the hyperlink compensates the absence of Company Name; and (d) the link is in the context of general resource information.</p>
                            <p>These organizations may link to our home page so long as the link: (a) is not in any way deceptive; (b) does not falsely imply sponsorship, endorsement or approval of the linking party and its products or services; and (c) fits within the context of the linking party’s site.</p>
                            <p>If you are one of the organizations listed in paragraph 2 above and are interested in linking to our website, you must inform us by sending an e-mail to Company Name. Please include your name, your organization name, contact information as well as the URL of your site, a list of any URLs from which you intend to link to our Website, and a list of the URLs on our site to which you would like to link. Wait 2-3 weeks for a response.</p>
                            <p>Approved organizations may hyperlink to our Website as follows:</p>
                            <ul>
                                <li>By use of our corporate name; or</li>
                                <li>By use of the uniform resource locator being linked to; or</li>
                                <li>By use of any other description of our Website being linked to that makes sense within the context and format of content on the linking party’s site.</li>
                            </ul>
                            <p>No use of Company Name's logo or other artwork will be allowed for linking absent a trademark license agreement.</p>
                            <h3><strong>iFrames</strong></h3>
                            <p>Without prior approval and written permission, you may not create frames around our Webpages that alter in any way the visual presentation or appearance of our Website.</p>

                            <h3><strong>Content Liability</strong></h3>

                            <p>We shall not be hold responsible for any content that appears on your Website. You agree to protect and defend us against all claims that is rising on your Website. No link(s) should appear on any Website that may be interpreted as libelous, obscene or criminal, or which infringes, otherwise violates, or advocates the infringement or other violation of, any third party rights.</p>

                            <h3><strong>Your Privacy</strong></h3>

                            <p>Please read Privacy Policy</p>

                            <h3><strong>Reservation of Rights</strong></h3>

                            <p>We reserve the right to request that you remove all links or any particular link to our Website. You approve to immediately remove all links to our Website upon request. We also reserve the right to amen these terms and conditions and it’s linking policy at any time. By continuously linking to our Website, you agree to be bound to and follow these linking terms and conditions.</p>

                            <h3><strong>Removal of links from our website</strong></h3>

                            <p>If you find any link on our Website that is offensive for any reason, you are free to contact and inform us any moment. We will consider requests to remove links but we are not obligated to or so or to respond to you directly.</p>

                            <p>We do not ensure that the information on this website is correct, we do not warrant its completeness or accuracy; nor do we promise to ensure that the website remains available or that the material on the website is kept up to date.</p>

                            <h3><strong>Disclaimer</strong></h3>

                            <p>To the maximum extent permitted by applicable law, we exclude all representations, warranties and conditions relating to our website and the use of this website. Nothing in this disclaimer will:</p>

                            <ul>
                                <li>limit or exclude our or your liability for death or personal injury;</li>
                                <li>limit or exclude our or your liability for fraud or fraudulent misrepresentation;</li>
                                <li>limit any of our or your liabilities in any way that is not permitted under applicable law; or</li>
                                <li>exclude any of our or your liabilities that may not be excluded under applicable law.</li>
                            </ul>

                            <p>The limitations and prohibitions of liability set in this Section and elsewhere in this disclaimer: (a) are subject to the preceding paragraph; and (b) govern all liabilities arising under the disclaimer, including liabilities arising in contract, in tort and for breach of statutory duty.</p>

                            <p>As long as the website and the information and services on the website are provided free of charge, we will not be liable for any loss or damage of any nature.</p>
                            
                        </div>
                    </div>
                    
                  </div>
                  <!-- <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Save changes</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div> --
                </div>
            </div>
        </div>
    </div> -->
</div>
{% endblock content %}

<style type="text/css">

    #login-container {
        float: left;
        text-align: center;
        width: 100%;
        height: 100%;
    }

    @media only screen and (min-width:1000px) /* make sure this is good, because it's a balagan by the chrome debugger */
    {
        #login-container {
            float: right;
            text-align: center;
            display: flex;
            width: 100%;
            height: 625px;
        }
    }

    #login-material-container {
        width: 50%;
        height: 500px;
        margin-left: 25%;
        margin-right: 25%;
        margin-top: 500px;
    }

    @media only screen and (min-width:1000px) /* make sure this is good, because it's a balagan by the chrome debugger */
    {
        #login-material-container {
            width: 400px;
            height: 500px;
            margin: auto;
        }
    }

    #login-material-container form {
        width: 100%;
    }

    @media only screen and (min-width:1000px) /* make sure this is good, because it's a balagan by the chrome debugger */
    {
        #login-material-container form {
            width: 100%;
        }
    }

    #login-material-container form .input-group {
        width: 100%;
    }

    @media only screen and (min-width:1000px) /* make sure this is good, because it's a balagan by the chrome debugger */
    {
        #login-material-container form .input-group {
            width: 100%;
        }
    }


    #home-logo-link img {
        width: 250px;
        margin-bottom: 10px;
    }

    /*.invalid-feedback {
        display: block;
        visibility: hidden;
        width: 100%;
        height: 8px;
        margin: 0px;
    }*/
    input {
        float: left;
        width: 100%;
        margin-bottom: 20px;
        border-radius: 5px;
        padding: 10px;
        font-size: 5em;
        box-sizing:border-box;
    }

    input[type="text"] {
        border: 1px solid black;
    }

    input[type="submit"] {
        color: white;
        background-color: blue;
    }


#signup-material-container {
    float: left;
    width: 70%;
    height: 500px;
    margin-left: 15%;
    margin-right: 15%;
}

@media only screen and (min-width:1000px) /* make sure this is good, because it's a balagan by the chrome debugger */
{
    #signup-material-container {
        float: left;
        width: 40%;
        height: 500px;
        margin-left: 30%;
        margin-right: 30%;
    }
}

input:focus {
    outline:none !important;
}

input:valid {
    outline-color: blue;
}
#checkboxes-container {
    width: 100%;
    /*margin: auto;*/
}



.modal-body {
    height: 300px;
    overflow-y: scroll;
}



#signup-error-container {
    color: red;
}
</style>
<script type="text/javascript">
    window.onload = function() {
        validate();
    }

    function FormValidation(){
        //First Name Validation 
        var fn=document.getElementById('user-first-name-input').value;
        if(fn == ""){
            alert('Please Enter First Name');
            fn.style.borderColor = "red";
            return false;
        }
        if (/^[0-9]+$/.test(document.getElementById("user-first-name-input").value)) {
            alert("First Name Contains Numbers!");
            document.getElementById('firstname').style.borderColor = "red";
            return false;
        }else{
            document.getElementById('firstname').style.borderColor = "green";
        }
        if(fn.length <=2){
            alert('Your Name is To Short');
            document.getElementById('firstname').style.borderColor = "red";
            return false;
        }else{
            document.getElementById('firstname').style.borderColor = "green";
        }
    }

    function validate() {
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.getElementsByClassName('needs-validation');

    //  Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
}
</script>
</html>
