<!DOCTYPE html>
<html>
<head>
{% block head %}
    <title>{% block page_title %}{% endblock page_title %}</title>
    <link rel="icon" href="{% static "market/images/other/venture_sports_primary_logo.png" %}">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
{% endblock head %}
</head>
<body>
{% block body %}{% endblock body %}
</body>
<style type="text/css">
    /*#space-eater {
        width: 50%;
        height: 625px;
        float: left;
        overflow: hidden;
        background-color: #cccccc;
        background: url('{% static "market/images/hexagon_background.png" %}');
    }

    #space-eater i {
        font-size: 100px;
        margin-left: 12px;
        margin-top: 12px;
    }*/

    #login-container {
        float: left;
        text-align: center;
        width: 100%;
        height: 100%;
    }

    @media only screen and (min-width:1000px) /* make sure this is good, because it's a balagan by the chrome debugger */
    {
        #login-container {
            float: right;
            text-align: center;
            display: flex;
            width: 100%;
            height: 625px;
        }
    }

    #login-material-container {
        width: 50%;
        height: 500px;
        margin-left: 25%;
        margin-right: 25%;
        margin-top: 500px;
    }

    @media only screen and (min-width:1000px) /* make sure this is good, because it's a balagan by the chrome debugger */
    {
        #login-material-container {
            width: 400px;
            height: 500px;
            margin: auto;
        }
    }

    #login-material-container form {
        width: 100%;
    }

    @media only screen and (min-width:1000px) /* make sure this is good, because it's a balagan by the chrome debugger */
    {
        #login-material-container form {
            width: 100%;
        }
    }

    #login-material-container form .input-group {
        width: 100%;
    }

    @media only screen and (min-width:1000px) /* make sure this is good, because it's a balagan by the chrome debugger */
    {
        #login-material-container form .input-group {
            width: 100%;
        }
    }


    #home-logo-link img {
        width: 250px;
        margin-bottom: 10px;
    }

    #login-error-container {
        color: red;
    }

    /*.invalid-feedback {
        display: block;
        visibility: hidden;
        width: 100%;
        height: 8px;
        margin: 0px;
    }*/
    input {
        float: left;
        width: 100%;
        margin-bottom: 20px;
        border-radius: 5px;
        padding: 10px;
        font-size: 5em;
        box-sizing:border-box;
    }

    input[type="text"] {
        border: 1px solid black;
    }

    input[type="submit"] {
        color: white;
        background-color: blue;
    }
</style>
<script type="text/javascript">
    window.onload = function() {
        validate();
    }

    function validate() {
        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.getElementsByClassName('needs-validation');

        //  Loop over them and prevent submission
        var validation = Array.prototype.filter.call(forms, function(form) {
          form.addEventListener('submit', function(event) {
            if (form.checkValidity() === false) {
              event.preventDefault();
              event.stopPropagation();
            }
            form.classList.add('was-validated');
            // document.getElementById("username-invalid-feedback").classList.add('visible');
            // document.getElementById("password-invalid-feedback").classList.add('visible');
          }, false);
        });
    }
</script>
</html>