{% extends "market/base.html" %}

{% block head_title %}Login{% endblock head_title %}

{% block head %}
{% load static %}
{% endblock head %}


{% block header %}
{% include "market/header.html" with user=user scheduled_games=scheduled_games list_of_names=list_of_names %}
{% endblock header %}

{% block container_header %}Log In{% endblock container_header %}

{% block content %}
<!-- not sure why this extends market/base.html and not registration/base.html, but whatevs -->
        <div id="login-material-container">
        <form class="needs-validation" action="{% url 'market:login' %}" method="post" novalidate> <!-- novalidate turns off the default browser validation behaviour -->
        {% csrf_token %}
            <div class="input-group mb-3">
                <!-- <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"><i class="fa fa-user"></i></span>
                </div> -->
                <input id="player-search-input-text" class="input" aria-label="Username" aria-describedby="basic-addon1" type="text" name="user_username" placeholder="Username" required>
                <!-- <div id="username-invalid-feedback" class="invalid-feedback">
                    Please enter your username or email.
                </div> -->
            </div>
            <div class="input-group mb-3">
              <!-- <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"><i class="fa fa-lock"></i></span>
              </div> -->
              <input id="player-search-input-text" class="input" aria-label="Username" aria-describedby="basic-addon1" type="password" name="user_password" placeholder="Password" required>
              <!-- <div id="password-invalid-feedback" class="invalid-feedback">
                    Please enter your password.
                </div> -->
            </div>
            <div class="form-group">
                <input type="submit" class="btn" value="Login">
            </div>
            {% if error %}
            <div id="login-error-container">
                <p>The username or password was incorrect</p>
            </div>
            {% endif %}
        </form>
        

        </div>
        <div id="forgot-password">
            <a href="{% url 'password_reset' %}">Forgot Your Password</a>
            
        </div>
    </div>
{% endblock content %}

<style type="text/css">
{% block css %}
    
    #forgot-password {
        float: left;
        width: 50%;
        margin-left: 25%;
        margin-right: 25%;
        text-align: center;
        font-size: 2.2em;
    }

    @media only screen and (min-width:1000px) /* make sure this is good, because it's a balagan by the chrome debugger */
    {
        #forgot-password {
            float: left;
            width: 50%;
            margin-left: 25%;
            margin-right: 25%;
            text-align: center;
            font-size: 1em;
        }
    }

    #login-error-container {
        text-align: center;
    }
{% endblock css %}
</style>
<script type="text/javascript">

    window.onload = function() {
        validate();
    }

    function validate() {
        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.getElementsByClassName('needs-validation');

        //  Loop over them and prevent submission
        var validation = Array.prototype.filter.call(forms, function(form) {
          form.addEventListener('submit', function(event) {
            if (form.checkValidity() === false) {
              event.preventDefault();
              event.stopPropagation();
            }
            form.classList.add('was-validated');
            // document.getElementById("username-invalid-feedback").classList.add('visible');
            // document.getElementById("password-invalid-feedback").classList.add('visible');
          }, false);
        });
    }
</script>
</html>