{% extends 'market/base.html' %}

{% block head_title %}Password Reset{% endblock head_title %}

{% block header %}
{% include "market/header.html" with user=user scheduled_games=scheduled_games list_of_names=list_of_names %}
{% endblock header %}

{% block container_header %}Reset Password{% endblock container_header %}
{% block content %}
  <form method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    {{ form.email.errors }}
    <input  type="text" name="email" placeholder="Email">
    <input  type="submit" value="Reset Password">
  </form>
{% endblock content %}