{% extends 'market/base.html' %}

{% block head_title %}Create Password{% endblock head_title %}

{% block header %}
{% load static %}
{% endblock header %}

{% block container_header %}Set Password{% endblock container_header %}
{% block content %}
  {% if validlink %}
    <div id="login-container">
        <div id="login-material-container">
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Set Password</button>
      <!-- <div class="input-group mb-3">
        <input type="password" name="new_password" value="" placeholder="New Password">
      </div>
      <div class="input-group mb-3">
        <input type="password" name="new_password_confirmation" value="" placeholder="New Password Confirmation">
      </div>
      <div class="input-group mb-3">
        <input type="submit" value="Change Password">
      </div> -->
    </form>
    </div>
  </div>
  {% else %}
    <p>
      The password reset link was invalid, possibly because it has already been used.
      Please request a new password reset.
    </p> 
  {% endif %}
{% endblock content %}