{% extends 'market/base.html' %}

{% block head_title %}Password Reset Submitted{% endblock head_title %}

{% block header %}
{% include "market/header.html" with user=user scheduled_games=scheduled_games list_of_names=list_of_names %}
{% endblock header %}

{% block content %}
  <p>
    We've emailed you instructions for setting your password, if an account exists with the email you entered.
    You should receive them shortly.
  </p>
  <p>
    If you don't receive an email, please make sure you've entered the address you registered with,
    and check your spam folder.
  </p>
{% endblock content %}