.player-card {
    background-color: {{ secondary_design_color }};
    float: right;
    position: relative;
    height: 270px;
    width: 100%;
    border-radius: 5px;
    /*margin-left: 1%;*/
    /*margin-right: 1%;*/
    margin-bottom: 30px;
    overflow: hidden;
    box-shadow: 0px 0px 10px black; /* range from 0 - 1 */ /* 0px 8px 16px 0px rgba(0,0,0,1); */
}

@media only screen and (min-width:1000px) /* make sure this is good, because it's a balagan by the chrome debugger */
{
    .player-card {
        background-color: {{ secondary_design_color }};
        float: right;
        position: relative;
        height: 110px;
        width: 48%;
        border-radius: 5px;
        margin-left: 1%;
        margin-right: 1%;
        margin-bottom: 10px;
        overflow: hidden;
        box-shadow: 0px 0px 10px black; /* range from 0 - 1 */ /* 0px 8px 16px 0px rgba(0,0,0,1); */
    }
}

.player-card-contents {
    float: left;
    width: 100%;
    height: 100%;
}

.card-image-container {
    float: left;
    width: 40%;
    height: 100%;
    position: relative;
}

@media only screen and (min-width:1000px) /* make sure this is good, because it's a balagan by the chrome debugger */
{
    .card-image-container {
        float: left;
        width: 50%;
        height: 100%;
        position: relative;
    }
}

.card-image-container img {
    float: left;
    /*padding: 5px;*/
    /*height: 100%;*/
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0px;
}

@media only screen and (min-width:1000px) /* make sure this is good, because it's a balagan by the chrome debugger */
{
    .card-image-container img {
        float: left;
        /*padding: 5px;*/
        /*height: 100%;*/
        width: 150px;
        position: absolute;
        bottom: 0px;
        left: 0px;
    }
}


.card-text-container {
    float: left;
    /*margin-left: 10%;*/
    width: 50%;
    /*height: 100%;*/
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /*padding: 10px;*/
    /*word-wrap: break-word;*/
}

@media only screen and (min-width:1000px) /* make sure this is good, because it's a balagan by the chrome debugger */
{
    .card-text-container {
        float: left;
        /*margin-left: 10%;*/
        width: 50%;
        height: 100%;
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        /*padding: 10px;*/
        /*word-wrap: break-word;*/
    }
}

.card-text-container h2 {
    width: 100%;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 4em;
}

@media only screen and (min-width:1000px) /* make sure this is good, because it's a balagan by the chrome debugger */
{
    .card-text-container h2 {
        width: 100%;
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 1.5em;
    }
}

.card-text-container h3 {
    width: 100%;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 4em;
}

@media only screen and (min-width:1000px) /* make sure this is good, because it's a balagan by the chrome debugger */
{
    .card-text-container h3 {
        width: 100%;
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 1.17em; /* default size */
    }
}

.card-text-container h4 {
    width: 100%;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 3em;
}

@media only screen and (min-width:1000px) /* make sure this is good, because it's a balagan by the chrome debugger */
{
    .card-text-container h4 {
        width: 100%;
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 1em; /* default size */
    }
}

.player-card:hover {
    background-color: {{ secondary_hover_color }};
}

/* taken from https://stackoverflow.com/questions/796087/make-a-div-into-a-link */
.player-card a span {
    position:absolute; 
    width:100%;
    height:100%;
    top:0;
    left: 0;
    z-index: 1;
    /* fixes overlap error in IE7/8, 
     make sure you have an empty gif */
    background-image: url('empty.gif');
}

.positive {
    color: #28a745;
    /*color: {{ primary_design_color }};*/
    /*background-color: green;*/
}

.negative {
    color: #dc3545;
    /*color: {{ primary_design_color }};*/
    /*background-color: green; */
}
